[global]
log.error_file:  'site.log'
log.screen:  True
server.socket_host       = '${host}'
server.socket_port       = ${port}
server.thread_pool       = 10
server.socket_queue_size = 30
#request.show_tracebacks =  False
server.max_request_body_size = 2097152
server.socket_timeout = 60
