/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-09, 01:21:12
    Author     : Nic-W7
*/

.cart-folded
    {

    height:93%;
    width:auto;
    float:right;
    position: absolute;
    background-color: #fafafa;
    border: solid thin #FF9900;
    right:0;

     display:inline-block;
    text-align: center;
    vertical-align: middle;
}

.cart #midbutton
{
    top:50%;
}
.cart_controls
{
    right:30%;
    height:93%;
    width:50px;
    position:absolute;
    float:left;
}

.cart-unfolded
    {
    right:20%;
    height:93%;
    width:auto;
    float:right;
    position: absolute;
    background-color: #fafafa;
    border: solid thin #FF9900;
    

     display:inline-block;
    text-align: center;
    vertical-align: middle;
}
.cart-items
    {
        
    height:93%;
    width:20%;
    float:right;
    position: fixed;
    background-color: #fafafa;
    border: solid thin #FF9900;
    

     display:inline-block;
    text-align: center;
    vertical-align: middle;
}