/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-09, 01:21:12
    Author     : Nic-W7
*/

.navbar
{
    height:50px;
    background-color:#fafafa;
    display:flex;

}
.navbar #bar1
{
    width:0px;
 
}
.navbar #left
{
    width:80%;
    display:flex;
}
.navbar #mid
{
    
}

.navbar #right
{
    text-align: right;
    width:20%;
}

.navbar #zoom
{
    position: absolute;
    
}
