<div id="searchPanelDiv">
 <div id="filtersWrapper">
  <div class="search-header-label">Filters</div>
  <div id="loadedFiltersWrapper">
   <div class="filter-property-info filter-property-name">
    <!--
      <span class="fa fa-image"></span>
    -->
    <div class="brainslices-privilege-filter">
     <select class="brainslices-privilege-filter" id="privilegeFilter">
      <option value="v" selected="selected">
       Images I can view
      </option>
      <option value="a">
       Images I can annotate
      </option>
      <option value="e">
       Images I can edit
      </option>
     </select>
    </div>
   </div>

  <!--
   <details class="filter-property-info">
    <summary class="filter-property-name">
     <span class="fa fa-angle-double-up"></span>
     <span class="fa fa-angle-double-down"></span>
     Privileges
    </summary>

   </details>
   -->
   <div id="loadedFilters">
   </div>
   <details class="filter-property-info">
    <summary class="filter-property-name">
     <span class="fa fa-angle-double-up"></span>
     <span class="fa fa-angle-double-down"></span>
     --- New filter ---
    </summary>
    <div id="newFilter" class="brainslices-property-filter">
    </div>
   </details>
  </div>
  <button id="searchPropertySearch">Search</button>
 </div>

 <button id="searchFiltersFold">
  <span class="fa fa-angle-double-left"></span>
 </button>
 <button id="searchFiltersUnfold">
  <span class="fa fa-angle-double-right"></span>
 </button>

 <div id="resultsDiv">
  <div id="resultsWrapper">
   <div id="resultsWrapperHeader">
    <span id="searchResultsPaginator"></span>
   </div>
   <div id="searchResults">
   </div>
  </div>

  <button id="searchBasketUnfold">
   <span class="fa fa-angle-double-left"></span>
  </button>
  <button id="searchBasketFold">
   <span class="fa fa-angle-double-right"></span>
  </button>

 </div>
</div>
