<div id="searchPanelDiv">
 <div id="filtersWrapper">
  <div class="search-header-label">Filters</div>
  <div id="loadedFiltersWrapper">
   <div>
    <div id="loadedFilters">
    </div>
    <details class="filter-property-info">
     <summary class="filter-property-name">
      <span class="fa fa-angle-double-up"></span>
      <span class="fa fa-angle-double-down"></span>
      --- New filter ---
     </summary>
     <div id="newFilter" class="brainslices-property-filter">
     </div>
    </details>
   </div>
  </div>
  <button id="searchPropertySearch">Search</button>
 </div>

 <button id="searchFiltersFold">
  <span class="fa fa-angle-double-left"></span>
 </button>
 <button id="searchFiltersUnfold">
  <span class="fa fa-angle-double-right"></span>
 </button>

 <div id="resultsDiv">
  <div id="resultsWrapper">
   <div class="search-header-label">Results</div>
   <div id="searchResults" class="search-content-wrapper">
   </div>
  </div>

  <button id="searchBasketUnfold">
   <span class="fa fa-angle-double-left"></span>
  </button>
  <button id="searchBasketFold">
   <span class="fa fa-angle-double-right"></span>
  </button>

  <div id="searchImageBasket">
   <div class="search-header-label">Image Basket</div>
   <div id="searchImageBasketList" class="search-content-wrapper"></div>
  </div>

 </div>
</div>
