<div id="searchPanelDiv">
 <div id="filtersWrapper">
  <div class="search-header-label">Filters</div> 
  <div id="loadedFiltersWrapper">
   <div class="filter-property-info filter-property-name">
    <!--
      <span class="fa fa-image"></span>
    -->
    <div class="brainslices-privilege-filter selectWrapper">
     <select class="brainslices-privilege-filter selectWrapper" id="limitFilter">
      <!-- %serviceQueryLimitOptions% -->
      <!--
      <option value="20" selected="selected">
       Limit the search to 20
      </option>
      <option value="50">
       Limit the search to 50
      </option>
      <option value="100">
       Limit the search to 100
      </option>
      <option value="200">
       Limit the search to 200
      </option>
      <option value="500" class="loggedOnly">
       Limit the search to 500
      </option>
      <option value="1000" class="loggedOnly">
       Limit the search to 1000
      </option>
      <option value="" class="loggedOnly">
       Do not limit the search
      </option>-->
     </select>
    </div>
    <div class="brainslices-privilege-filter selectWrapper">
     <select class="brainslices-privilege-filter selectWrapper" id="privilegeFilter">
      <option value="v" selected="selected">
       Images I can view
      </option>
      <option value="a">
       Images I can annotate
      </option>
      <option value="e">
       Images I can edit
      </option>
      <option value="c" id="privilegeFilterAccept">
       My images to be accepted
      </option>
     </select>
    </div>
   </div>

   <div id="batchFilterDiv" class="filter-property-info filter-property-name">
    <div class="brainslices-batch-filter selectWrapper">
     <select id="batchFilter" class="brainslices-batch-filter selectWrapper" title="collection filter">
     </select>
    </div>
   </div>

  <!--
   <details class="filter-property-info">
    <summary class="filter-property-name">
     <span class="fa fa-angle-double-up"></span>
     <span class="fa fa-angle-double-down"></span>
     Privileges
    </summary>

   </details>
   -->
   <div id="loadedFilters">
   </div>
   <div style="text-align: center;">
    <button id="searchPropertySearch" title="search">
     <span class="fa fa-search">
     </span>
     Apply filters
    </button>
   </div>
   <details id="newFilterPanel" class="filter-property-info" open="open">
    <summary class="filter-property-name">
     <span class="fa fa-angle-double-up"></span>
     <span class="fa fa-angle-double-down"></span>
     --- New filter ---
    </summary>
    <div id="newFilter" class="brainslices-property-filter">
    </div>
   </details>
  </div>
 </div>

 <button id="searchFiltersFold">
  <span class="fa fa-angle-double-left"></span>
 </button>
 <button id="searchFiltersUnfold">
  <span class="fa fa-angle-double-right"></span>
 </button>

 <div id="resultsDiv">
  <div id="resultsWrapper">
   <div id="resultsWrapperHeader">
    <div class="search-header-label">Search results</div> 
    <span style="display: inline-block; vertical-align: middle;">
     <span id="searchResultsPaginator"></span>
    </span>

    <button id="addResultsToCart" title="merge into the image cart">
     <span class="fa fa-plus"></span>
     <span class="fa fa-shopping-cart"></span>
    </button>

    <button id="moveResultsToCart" title="replace the image cart">
     <span class="fa fa-arrow-right"></span>
     <span class="fa fa-shopping-cart"></span>
    </button>
   </div>
   <div id="searchResults">
   </div>
  </div>

  <button id="searchBasketUnfold">
   <span class="fa fa-angle-double-left"></span>
  </button>
  <button id="searchBasketFold">
   <span class="fa fa-angle-double-right"></span>
  </button>

 </div>
</div>
