 <p>
  Nasz serwis wykorzystuje pliki cookies w celu umożliwienia zarejestrowanym użytkownikom serwisu zalogowania się.
  Analizujemy też aktywność użytkowników korzystając z rozwiązań zewnętrznych dostawców. Aktualnie używamy Google
  Analytics (działającego w oparciu o pliki cookie) nie udostępniającego danych umożliwiających identyfikację osób.
  Prosimy o zapoznanie się ze szczegółami <a href="http://www.google.com/intl/pl/policies/" target="_blank" class="gray">polityki prywatności Google Analytics</a>.
  Jeżeli nie wyrażasz zgody na przechowywanie informacji w Twoim telekomunikacyjnym urządzeniu końcowym (<a target="_blank" href="http://isap.sejm.gov.pl/DetailsServlet?id=WDU20120001445+2013%2401%2421">Dz.U. 2012 nr 0 poz. 1445 2013.01.21</a>), zablokuj obsługę plików cookies w swojej przeglądarce internetowej postępując zgodnie z jej dokumentacją.
 </p>
