<h2>Terms of use</h2>
<ul>
 <li>By using the service you explicitely accept its following terms of use.</li>
 <li>Infringement of the terms of use might result in temporary or permanent ban on the service usage.</li>
 <li>Every person is allowed create only one account in the service.</li>
 <li>Every laboratory or other formal research group is allowed to create only one account in the service.</li>
 <li>Images uploaded to the service should be images of either brain or spinal cord tissue.</li>
 <li>Description of the images should be precise and scientificly relevant.</li>
 <li>By uploading any data to the service (either image or non-image data) you confirm your intelectual property rights to publish them
     as well as your (and exclusively yours) responsibility for any intelectual property infringement resulting from bublishing it.</li>
 <li>By uploading any data to the service (either image or non-image data) you confirm your (and exclusively yours) responsibility
     for its content, including but not limited to cases if it is either offensive, improper or any other way illegal.</li>
 <li>If no "license" property (either text or enumerative) is set in the description of the image, it is published in public domain under
     terms of <a target="_blank" href="http://creativecommons.org/about/cc0">the CC0 license</a>.</li>
 <li>For author credits set either "author" or "source" text property in the description of the image to proper value.</li>
</ul>

<h3>Disclaimer</h3>
<p>Despite of our efforts to provide you with a high quality service we secure ourselves from being sued by some jerk.</p>

<p>THE BrainSlices SERVICE AND ITS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL ITS PROVIDER, MAINTAINER, DEVELOPER, CONTRIBUTOR, SPONSOR, ADMINISTRATOR, USER,
Nencki Institute of the Experimental Biology, Jakub M. Kowalski, Daniel K. Wójcik, Piotr Majka or Alicja Puścian
BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</p>

<ol>
 Without limiting the foregoing, there is no warranty made that:
 <li>the service will meet your requirements,</li>
 <li>the service will be robust,</li>
 <li>the service will be efficient,</li>
 <li>the service will be always available,</li>
 <li>the service behaviour will not change,</li>
 <li>the service will be secure,</li>
 <li>the pasword used for the service will not be compromised (including but not limiteed to theft) and used in any possible way (including but not limited to hostile activity),</li>
 <li>the service will be free,</li>
 <li>the service will not cause your cat being eaten,</li>
 <li>data uploaded to the service (including both image and non-image data) will not be either lost, corrupted nor stolen,</li>
 <li>data obtained from the service (including both image and non-image data) will be either valid, accurate or reliable,</li>
 <li>data obtained from the service (including both image and non-image data) will not be offensive, improper nor illegal,</li>
 <li>the usage of the service or reading its documentation will not result in a mental disease, seizures nor diarrohea,</li>
 <li>the usage of the service or reading its documentation will not result in a flood, drought, earthquake nor tornado,</li>
 <li>the usage of the service or reading its documentation will not result in a zombie outbreak,</li>
 <li>the usage of the service or reading its documentation will not cause a mass extinction,</li>
 <li>the usage of the service or reading its documentation will not cause the Return of The Cthulhu,</li>
 <li>the usage of the service or reading its documentation will not destroy the Earth,</li>
 <li>the documentation of the service will be helpful,</li>
 <li>the documentation of the service will be valid,</li>
 <li>the documentation of the service will be updated,</li>
 <li>the documentation of the service will not change,</li>
 <li>the documentation of the service will be free of technical or other mistakes, inaccuracies or typographical errors,</li>
</ol>

<p>The service provider, maintainer, developer, contributor, administrator, user, Nencki Institute of the Experimental Biology,
Jakub M. Kowalski, Daniel K. Wójcik, Piotr Majka or Alicja Puścian assume no responsibility for errors or ommissions in the service
functionality, software or documentation.</p>

<p>In no event shall the service provider, maintainer, developer, contributor, administrator, user,
Nencki Institute of the Experimental Biology, Jakub M. Kowalski, Daniel K. Wójcik, Piotr Majka or Alicja Puścian
be liable to you or any third parties for any special, punitive, incidental, indirect or consequential damages of any kind,
or any damages whatsoever, including, without limitation, those resulting from loss of use, data or profits,
whether or not the service provider, maintainer, developer, contributor, administrator, user,
Nencki Institute of the Experimental Biology, Jakub M. Kowalski, Daniel K. Wójcik, Piotr Majka or Alicja Puścian
has been advised of the possibility of such damages, and on any theory of liability, arising out of or in connection with
the use of this service or the service software.</p>

<p>The use of the service or the service software is done at your own discretion and risk and with agreement
 that you will be solely responsible for any damage to your computer system or loss of data that results from such activities.
 No advice or information, whether oral or written, obtained by you from the service provider, maintainer, developer, contributor, administrator, user,
 Nencki Institute of the Experimental Biology, Jakub M. Kowalski, Daniel K. Wójcik, Piotr Majka or Alicja Puścian
 shall create any warranty for the service or its software.
</p>
