<h2>A story of the Epic Research</h2>
<p>
 The research was over.<br>
 Researcher the Librarian stared at dead corpses of slaughtered mice. Their brains removed and sliced, the slices stained and investigated with a microscope.<br>
 Researcher was sad. He grasped his precious specimens and asked himself if all his deeds for their preparation were in vain. The research is over, the paper published. No one will appreciate his treasures... Their destiny is to fall into an oblivion.<br>
 - Shall more innocent lives be taken just to make somebody see what I saw? - he asked loudly, then raised hand to throw the specimens away.<br>
 - Wait a moment! - he heard a strong voice. A wise man was approaching him. - Do not waste results of your research. There is a portal, which wise Researchers use to memorize their specimen for future generations. Its name is BrainSlices.
</p>

<h2>A bit less epic description of the service</h2>
<p>
 The BrainSlices service is an online repository of high-resolution images of brain tissue with detailed description.<br>
 With BrainSlices you can share your images with collaborators all around the globe as well as you can refer to them (images, not collaborators) in your papers.<br>
</p>

<h3>Browse specimens in the repository</h3>
<p>
 The service gives you an opportunity to view specimens obtained by researcher all arround the world, possibly <b>saving your time, money and sparing lives of animals</b> (e.g. if a pilot study you planned to launch has been already done by someone else).<br>
 Our service allows you to view (in online mode) even huge images without a loss in a performance.
 <ol>
  It takes just a few steps to view a specimen you are interested in:
  <li>Click "Browse" button (in the top bar).</li>
  <li>If necessary, use filter menu (left side of the window) to specify, which specimens you are interested in.</li>
  <li>Click "Apply filters" button (in the filter menu).</li>
  <li>Open the image cart (with a cart button in the top bar).</li>
  <li>Add images you are interested in into the image cart (use either plus icon, drag'n drop method or double click).</li>
  <li>Click "Visualise" button (in the top bar).</li>
  <li>Load the images into a visualisation field by checking checkboxes at right side of the image cart.</li>
  <li>You might also <b>download full-size images</b> if you like.</li>
 </ol>
</p>

<h3>Share your specimens with the community</h3>
<p>
 <b>Do not put your specimens into a drawer!</b> As a registered user of BrainSlices you can easily upload, annotate and (if you decide to do so) publish images of your specimens (up to 1 GiB).<br>
 Moreover, <b>you can refer to them as supplementary materials for your publications</b> thanks to their permanent URLs.
</p>

<h2>Supported browsers</h2>
<ul>
 <li>Chrome</li>
 <li>Chromium</li>
</ul>

<h2>Hints for testers</h2>
<ul>
 <li>For help/bug report/suggestion submision click the help ([?]) button.</li>
 <li>Before testing reload the page ([F5] button on your keyboard) to assure you are not using cached and possibly obsoleted components.</li>
</ul>


<div id="acknowledgement">
 <p>
  BrainSlices software is developed by <a target="_blank" href="http://amix.org.pl">Jakub Kowalski</a> in 
  <a target="_blank" href="https://neuroinflab.wordpress.com/">Laboratory of Neuroinformatics</a> at
  <a target="_blank" href="http://en.nencki.gov.pl/">Nencki Institute of Experimental Biology</a>,
  <a target="_blank" href="http://en.nencki.gov.pl/department-of-neurophysiology">Department of Neurophysiology</a>
  under supervision of <a target="_blank" href="http://www.neuroinf.pl/Members/danek">Daniel Wójcik</a>.
  <br>
  The project is supported by an infrastructural grant from the Polish Ministry of Regional Development POIG.02.03.00-00-003/09.
 </p>
 <img src="/static/gfx/nut.png" alt="BrainSlices logo">
 <a target="_blank" href="https://neuroinflab.wordpress.com/" class="no_underline">
  <img src="/static/gfx/neuroinf.png" alt="Laboratory of Neuroinformatics logo">
 </a>
 <a target="_blank" href="http://en.nencki.gov.pl/department-of-neurophysiology" class="no_underline">
  <img src="/static/gfx/neurophysiology.png" alt="Department of Neurophysiology logo">
 </a>
 <a target="_blank" href="http://en.nencki.gov.pl/" class="no_underline">
  <img src="/static/gfx/nencki.png" alt="Nencki Institute of Experimental Biology logo">
 </a>
 <a target="_blank" href="http://www.poig.2007-2013.gov.pl/english/Strony/Introduction.aspx" class="no_underline">
  <img src="/static/gfx/poig_ang.gif" alt="POIG logo">
  <img src="/static/gfx/ueang.gif" alt="EU ERDF logo">
 </a>
 <p>
  Nasz serwis wykorzystuje pliki cookies w celu umożliwienia zarejestrowanym użytkownikom serwisu zalogowania się.
  Analizujemy też aktywność użytkowników korzystając z rozwiązań zewnętrznych dostawców. Aktualnie używamy Google
  Analytics (działającego w oparciu o pliki cookie) nie udostępniającego danych umożliwiających identyfikację osób.
  Prosimy o zapoznanie się ze szczegółami <a href="http://www.google.com/intl/pl/policies/" target="_blank" class="gray">polityki prywatności Google Analytics</a>.
  Jeżeli nie wyrażasz zgody na przechowywanie informacji w Twoim telekomunikacyjnym urządzeniu końcowym (<a target="_blank" href="http://isap.sejm.gov.pl/DetailsServlet?id=WDU20120001445+2013%2401%2421">Dz.U. 2012 nr 0 poz. 1445 2013.01.21</a>), zablokuj obsługę plików cookies w swojej przeglądarce internetowej postępując zgodnie z jej dokumentacją.
 </p>
</div>
