The BrainSlices service is an online repository of high-resolution images of brain tissue with detailed description.

With BrainSlices you can share your images with collaborators all around the globe as well as you can refer to them (images, not collaborators) as supplementary materials for your publications thanks to their permanent URLs.

<h1>TODO</h1>

A short description of our awesomeness. ;-)



<h2>Supported browsers</h2>
<ul>
 <li>Chrome</li>
 <li>Chromium</li>
</ul>

For help/bug report/suggestion submision click the help ([?]) button.
