<div id="imageCart">
 <div id="imageCartHeader">
  <div id="imageCartHeaderWrapper">
   <div id="imageCartHeaderContent">

    <div id="imageCartAllPanel" class="label-column">
     <button id="cartHeaderToggle" title="toggle global manipulation panel">
      <span class="fa"></span>
     </button>

     <!--
     Image cart
     <button id="editCart" title="edit images">
      <span class="fa fa-pencil-square-o"></span>
     </button>
     -->

     <div class="selectWrapper">
      <select id="editMode" class="selectWrapper">
       <option value="details" class="fa fa-file-text-o">Image annotations</option>
       <option value="manage" class="fa fa-pencil-square-o">Image management</option>
       <option value="adjust" class="fa fa-pencil-square-o">Adjust</option>
       <option value="privileges" class="fa fa-pencil-square-o">Set privileges</option>
       <option value="properties" class="fa fa-pencil-square-o">Annotate</option>
      </select>
      <span id="editModeImageAnnotations">
       Image annotations
      </span>
     </div>


     <div id="adjustPanel">
      <div id="centerPanel">
      </div>
     </div>

     <div id="privilegesPanel">
      <label>
       <input id="publicViewPrivilege" type="checkbox">
       view
      </label>
      <label>
       <input id="publicEditPrivilege" type="checkbox">
       edit
      </label>
      <label>
       <input id="publicAnnotatePrivilege" type="checkbox">
       annotate
      </label>
      <!--
      <label>
       <input id="publicOutlinePrivilege" type="checkbox">
       outline
      </label>
      -->

     </div>

     <div id="propertyPanel">
     </div>

     <div id="managePanel">
      <label class="managementPanelStatus">
       <div class="selectWrapper">
        <select id="managementPanelStatus" class="managementPanelStatus selectWrapper">
         <option value="6" selected="selected">
          Processed
         </option>
         <option value="7">
          Accepted
         </option>
        </select>
       </div>
      </label>

      <input type="checkbox" id="tiledImageDeleteAll">
      <label id="tiledImageDeleteAllLabel" for="tiledImageDeleteAll" title="mark all images for permanent removal" class="fa fa-trash-o deleteImage"></label>
     </div>

     <button id="emptyCart" title="empty the image cart">
      <span class="fa fa-trash-o"></span>
     </button>

    </div>

    <div id="loadAllWrapper">
     <div id="loadAllPanelHeader"></div>
     <div id="loadAllPanel" class="visible-column"></div>
    </div>

    <div id="imageCartHeaderColumnSeparator" class="column-separator"></div>

   </div>
  </div>
 </div>

 <div id="imageCartBody">
  <div id="layerList">
  </div>
 </div>

 <div id="imageCartFooter">
  <span id="editPanel">
   <button id="deleteImagesButton" title="remove selected images permanently">
    <span class="fa fa-trash-o"></span>
    Delete
   </button>
   <button id="editPanelSave">
    <span class="fa fa-floppy-o"></span>
    Save
   </button>
   <button id="editPanelReset">
    <span class="fa fa-reply-all"></span>
    Reset
   </button>
  </span>
  
  <div class="selectWrapper">
   <select id="foldAllCart" class="selectWrapper">
    <option selected="selected" value="fold">
     fold all
    </option>
    <option value="unfold">
     unfold all
    </option>
   </select>
  </div>
 </div>

</div>
