<div id="imageCart">
 <div id="imageCartHeader">
  Image cart
  <button id="editCart" title="edit images">
   <span class="fa fa-pencil-square-o"></span>
  </button>
  <button id="emptyCart" title="empty image cart">
   <span class="fa fa-trash-o"></span>
  </button>
 </div>
 <div id="layersConsoleTable">
  <div id="layersConsoleTableHeader">
   <div class="label-column">Description</div>
   <div class="visible-column">Visible</div>
  </div>

  <div id="layerList">
  </div>
 </div>

 <div id="editPanel">
  <div id="adjustPanel">
   All images
   <div class="adjustPanel">
    <label class="adjustPanelAdjust">
     <input id="adjustPanelAdjust" type="checkbox">
    </label>
    <br>
    <span>
     <label class="adjustPanelLeft">
      <input id="adjustPanelLeft" type="number" class="adjustPanel">
     </label>

     <label class="adjustPanelTop">
      <input id="adjustPanelTop" type="number" class="adjustPanel">
     </label>
     <br>
     <label class="adjustPanelRes">
      <input id="adjustPanelRes" type="number" class="adjustPanel">
     </label>

     <label class="adjustPanelStatus">
      <div class="adjustPanelStatus">
       <select id="adjustPanelStatus" class="adjustPanelStatus">
        <option value="6">
         Processed
        </option>
        <option value="7">
         Accepted
        </option>
       </select>
      </div>
     </label>
    </span>
   </div>

   <button id="centerAdjustment">
    Center
   </button>
   <button id="resetAdjustment">
    Reset
   </button>
   <button id="saveAdjustment">
    Save
   </button>
  </div>

 </div>

</div>
