<!DOCTYPE html>
<html>
 <head>  
  <meta charset="UTF-8">
  <meta name="keywords" content="%tags%">
  <title>Brain slices - image <!--%nameTitle%--> (#%iid%) info</title>
 </head>
 <body>
  <!--%name%-->
  <!--%description%-->
  <img src="/images/%iid%/tiles/0/0/0.jpg" alt="thumbnail">
  <br>
  Size: <!--%size%-->
  <br>
  <a href="/?show=%iid%:%md5%">Go to the image</a>
  <br>
  <table>
   <thead>
    <tr>
     <th>
      Property
     </th>
     <th>
      Value
     </th>
    </tr>
   </thead>
   <tfoot>
   </tfoot>
   <tbody>
    <!--%properties%-->
    <tr>
     <th>
      tags
     </th>
     <td>
      %tags%
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>
