<html>
<head>
  <script src="../static/js/common.js" type="text/javascript"></script>
  <script src="../static/js/jquery.js" type="text/javascript"></script>
	<script src="../static/js/ajax.js" type="text/javascript"></script>
</head>

<body>
    <div id = "loginDiv" style = "position: absolute; left: 50; top: 50">
        <p id = "loggedOutMessage" class = 'loginMessages' style = "color: blue"></p>
		    Login: <input id = "login" class = 'loginForm' type = "text">
		    <br>Password: <input id = "password" class = 'loginForm' type = "password">
        <p id = "badPass" class = 'loginMessages 'style = "color: red"></p>
        <input id = "button" type="button" value="Go!"/>
        <br>
        <a id = "registerButton" href='javascript:void(0)'>New User</a>
    </div>

    <div id = "registerDiv" style = "position: absolute; left: 50; top: 50">
 		Login: <input id = "newLogin" class = "registerForm" type = "text">
        <br>Password: <input id = "registerPassword" class = "registerForm" type = "password">
        <br>Confirm password: <input id = "confirmPassword" class = "registerForm" type = "password">
        <m id = "dontMatch" style = "color: red"></m>
        <br>Name: <input id = "name" class = "registerForm "type = "text">
        <br>Email: <input id = "eMail" class = "registerForm" type = "text">
        <br>
        <input id = "registerSubmit" type="button" value="Register!"/>     
        <br>
        <a id = "backFromRegister" href = 'javascript:void(0)'>back to login form</a>
    </div>

    <div id = "registrationOkDiv" style = "position: absolute; left: 50; top: 50">
      <p id ="registrationOkMessage">An e-mail has been sent to you. Click the link
      contained in the e-mail to confirm this registration</p>
      <a id = "backFromRegistrationOkDiv" href = 'javascript:void(0)'>back</a>
    </div>
	
    <div id = "loggedDiv" style = "position: absolute; left: 50; top: 50">
        <p id = "welcome" style = "color: blue"></p>
        <a id = "changePassword" href='javascript:void(0)'>Change Password</a>
        <br>
        <a id = "logout" href='javascript:void(0)'>Logout</a>
    </div>

    <div id = "changePasswordDiv" style = "position: absolute; left: 50; top: 50">
      <p>Change password:</p>
      Old password: <input id = 'oldPassword' class = "ChPassEditField"  type = 'password'>
      <m id = "badOldPassword" class = "changePasswordMessages" style = "color: red"></m>
      <br>New password: <input id = 'newPassword' class = "ChPassEditField "type = 'password'>
      <br>Retype new password: <input id = 'passwordRetype' class = "ChPassEditField" type = 'password'>
      <m id = "badConfirmPass" class = "changePasswordMessages "style = "color: red"></m>
      <br>
      <input id = "changePasswordButton" type="button" value="Go!"/>
      <br>
      <a id = "backFromChangePassword" href = 'javascript:void(0)'>back</a>
    </div>

    <div id = "passwordChangeSuccessDiv" style = "position: absolute left: 50; top: 50">
      <p style = "color: green">Password changed succesgully!</p>
      <a id = "backFromPassChangeSuccess" href = 'javascript:void(0)'>back</a>
    </div>
</body>
</html>
