  <div id="userPanel" class="overlay" style="display: none;">
   <div class="modalwin">

    <img align="right" alt="X" src="/static/gfx/close.png" class="clickable_close">
    <form name="loginForm" class="form">
     <p> Please enter your login information.</p>
     <div>
      <label for="login" class="left">Login:</label>
      <input class="loginForm" type="text" name="login">
     </div>
     <p class="formErrorMessages loginFieldError" style="display: none;"></p>
     <div>
      <label for="password" class="left">Password:</label>
      <input class="loginForm" type="password" name="password">
     </div>
     <p class="formErrorMessages passwordFieldError" style="display: none;"></p>
     <div>
      <label class="left">&nbsp;</label>
      <input type="submit" value="Login">
     </div>
     <p class="formErrorMessages badPass" style="display: none;"></p>
     <br>
     <p>
      Do not have an account? Please <a class="showRegisterFormButton" href="javascript:void(0)">register</a>.<br>
      Forgot your password? <a class="showRegeneratePasswordFormButton" href="javascript:void(0)">Generate a new password.</a>
     </p>
    </form>

    <form name="registerForm" class="form" style="display: none;">
     <p>Please fill out the form below in order to create your BrainSlices account.</p>
     <div>
      <label for="login" class="left">Login:</label>
      <input class="registerForm" type="text" name="login">
     </div>
     <p class="loginFieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label for="password" class="left">Password:</label>
      <input class="registerForm" type="password" name="password">
     </div>
     <p class="passwordFieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label for="password2" class="left">Confirm password:</label>
      <input class="registerForm" type="password" name="password2">
     </div>
     <p class="password2FieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label for="name" class="left">Name:</label>
      <input class="registerForm "type="text" name="name">
     </div>
     <p class="nameFieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label for="email" class="left">Email:</label>
      <input class="registerForm" type="text" name="email">
     </div>
     <p class="emailFieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label class="left">&nbsp;</label>
      <input type="submit" value="Register"/>
     </div>
     <p class="submitError formErrorMessages" style="display: none;"></p>
     <p>
      Back to the <a class="showLoginFormButton" href="javascript:void(0)">login form</a>.
     </p>
    </form>

    <form name="regeneratePasswordForm" class="form" style="display: none;">
     <p>Please enter your login and email:</p>
     <div>
      <label for="login" class="left">Login:</label>
      <input class="regenerateForm" type="text" name="login">
     </div>
     <p class="loginFieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label for="email" class="left">Email:</label>
      <input class="regenerateForm" type="text" name="email">
     </div>
     <p class="emailFieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label class="left">&nbsp;</label>
      <input type="submit" value="Regenerate password">
     </div>
     <p class="submitError formErrorMessages" style="display: none;"></p>
     <p>
      Back to the <a class="showLoginFormButton" href="javascript:void(0)">login form</a>.
     </p>
    </form>

    <form name="regeneratePasswordFinalForm" class="form" style="display: none;">
     <p class="success" style="display: none;">
      Password regeneration e&#8209;mail has been sent to your e&#8209;mail
      address. To complete the regeneration process please check your e&#8209;mail box and follow instructions in the e&#8209;mail.
     </p>

     <div>
      <label for="confirm" class="left">Confirmation string:</label>
      <input class="registerForm" type="text" name="confirm">
     </div>
     <p class="confirmFieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label for="password" class="left">New password:</label>
      <input class="registerForm" type="password" name="password">
     </div>
     <p class="passwordFieldError formErrorMessages" style="display: none;"></p>

     <div>
      <label for="password2" class="left">Confirm password:</label>
      <input class="registerForm" type="password" name="password2">
     </div>
     <p class="password2FieldError formErrorMessages" style="display: none;"></p>

     <div>
      <input type="hidden" name="login">
      <label class="left">&nbsp;</label>
      <input type="submit" value="Change password">
     </div>

     <p class="submitError formErrorMessages" style="display: none;"></p>
    </form>

    <p class="success" style="display: none;">
     An e-mail has been sent to you. Click the link
     contained in the e-mail to confirm this registration.
    </p>
  
   </div>
  </div>

