<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Brain slices-UI</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="static/gfx/nut.ico" />

        <link rel="stylesheet" type="text/css" href="static/css/main.css" />

        <link rel="stylesheet" type="text/css" href="static/css/login_forms.css" />
        <link rel="stylesheet" type="text/css" href="static/css/upload.css" />
        <link rel="stylesheet" type="text/css" href="static/css/slice_display.css" />
        <link rel="stylesheet" type="text/css" href="static/css/libs/jquery-ui-dialog.css" />

        <script src="static/js/libs/jquery/jquery.js"></script>
        <script src="static/js/libs/jquery/jquery-ui.js"></script>
        
        <script src="static/js/libs/html5slider.js" type="text/javascript"></script>
        <script src="static/js/map/common.js" type="text/javascript"></script>
        <script src="static/js/scope.js" type="text/javascript"></script>    
        <script src="static/js/map/layer_stack.js" type="text/javascript"></script>
        <script src="static/js/map/tile_layer.js" type="text/javascript"></script>
        <script src="static/js/map/outline_layer.js" type="text/javascript"></script>
        <script src="static/js/map/interface.js" type="text/javascript"></script>
        <script src="static/js/map/image_manager.js" type="text/javascript"></script>
        <script src="static/js/map/layer_manager.js" type="text/javascript"></script>
        <script src="static/js/map/synchronized_stacks.js" type="text/javascript"></script>
        <script src="static/js/map/ajax.js" type="text/javascript"></script>

    	<script src="/static/js/map/properties_search.js" type="text/javascript"></script>
    	<script src="/static/js/map/widgets.js" type="text/javascript"></script>
 
        <script src="static/js/widgets/navbar.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="static/css/widgets/navbar.css" />

        <script src="static/js/widgets/cart.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/widgets/cart.css" />

        <script src="static/js/widgets/grid_select.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/widgets/grid_select.css" />

        <script src="static/js/widgets/quality_button.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/widgets/quality_button.css" />
        
        <script src="static/js/widgets/target_select.js"></script>

	<script src="static/js/widgets/display.js"></script>
        
        <script src="static/js/init.js"></script>
    </head>
    <body>
	   <!--%userPanel%--> 
        <div id="navbar" class="navbar"> </div>
        <div id="main" class="main">
            <div id="sliceDisplay" class="display"></div>
            
            <div id="cart" class="cart"> 
                <table id="cart-table">
                    <tr>
                        <td id="cart-controls" class="cart-controls">
                            <button id="search-panel-fold-button" class="fold-button"><span id="search-panel-fold-button-icon" class="fold-button-icon fa fa-angle-left"></span></button>
                            <button id="control-panel-fold-button" class="fold-button"><span id="control-panel-fold-button-icon" class="fold-button-icon fa fa-angle-left"></span></button>
                            <button id="fold-all-button" class="fold-button"><span id="fold-all-button-icon" class="fold-button-icon fa fa-angle-double-left"></span></button>
                        </td>
                        <td id="search-panel" class="search-panel">
                            <!--%searchbox%-->
                        </td>
                        <td id="control-panel" class="cart-items" >
                            <!--%controlPanel%-->
                    	</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
