<html>
 <head>
  <title>Skrawki engine - test site.</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/static/gfx/nut.ico"/>
  <link rel="stylesheet" type="text/css" href="/static/css/overcast/jquery-ui-1.10.4.custom.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <!--<script src="/static/js/jquery.js" type="text/javascript"></script>-->
  <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="/static/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
  <script src="/static/js/html5slider.js" type="text/javascript"></script>
  <script src="/static/js/common.js" type="text/javascript"></script>
  <script src="/static/js/layer_stack.js" type="text/javascript"></script>
  <script src="/static/js/tile_layer.js" type="text/javascript"></script>
  <script src="/static/js/outline_layer.js" type="text/javascript"></script>
  <script src="/static/js/interface.js" type="text/javascript"></script>
  <script src="/static/js/image_manager.js" type="text/javascript"></script>
  <script src="/static/js/layer_manager.js" type="text/javascript"></script>
  <script src="/static/js/synchronized_stacks.js" type="text/javascript"></script>
  <script src="/static/js/ajax.js" type="text/javascript"></script>
  <script src="/static/js/properties_search.js" type="text/javascript"></script>
  <script type="text/javascript">

var move = false;

function startMove(event)
{
  move = true;
}


function processMove(event)
{
  if (move)
  {
    inspect();
  }
}

function inspect()
{//TODO
  $('#x').val(stacks.stacks[0].focusPointX);
  $('#y').val(stacks.stacks[0].focusPointY);
}

function stopMove(event)
{
  move = false;
}


function test()
{
  var x = $('#x').val();
  var y = $('#y').val();

  stacks.setFocusPoint(x, y);
  stacks.update();
  return false;
}

function rearrangeInterface()
{
  var nx = $('#nx').val();
  var ny = $('#ny').val();
  var display = $('#display').val();
  var width = display == 'matrix' ? null : parseInt(Math.max(100, 66 * nx / ny)) + '%';

  stacks.rearrange(nx, ny, width);
  layerManager.arrangeInterface();
}

function compressStacks()
{
  var images = layerManager.loadedImagesOrdered();
  stacks.rearrange(1, 1);
  for (var i = 0; i < images.length; i++)
  {
    if (!stacks.has(0, images[i]))
    {
      layerManager.load(0, images[i], true);
    }
  }
  layerManager.arrangeInterface();
  $('#nx').val(stacks.nx);
  $('#ny').val(stacks.ny);
}

function decompressStacks()
{
  var images = layerManager.loadedImagesOrdered();
  var nx = $('#nx').val();
  var ny = $('#ny').val();
  var nxCor = nx * ny < images.length ?
              parseInt(Math.ceil(images.length / ny)) :
              nx;
  var display = $('#display').val();
  var width = display == 'matrix' ?
              null :
              parseInt(Math.max(100, 66 * nxCor / ny)) + '%';
  layerManager.unloadAll();
  stacks.rearrange(nxCor, ny, width);
  for (var i = 0; i < images.length; i++)
  {
    layerManager.load(i, images[images.length - 1 - i], true);
  }

  layerManager.arrangeInterface();
  $('#nx').val(stacks.nx);
  $('#ny').val(stacks.ny);
}

function addLayer()
{
  var id = $('#id').val();
  var z = $('#z').val();
	layerManager.addTileLayer(id, '/images/' + id, z, $('#id option:selected').html());
  return false;
}

//TODO
function addOutlineLayer()
{
  var id = 'Outline320'; //$('#id').val();
  var z = $('#z').val();

  stacks.stacks[0].loadOutlineLayer(id, '/outlines/wholeOutline/320.svg', z);

	inspect(); 
  return false;
}

function addTest()
{
  var id = $('#testSet').val();
  var subset = $('#testSubset').val();
  var z = $('#z').val();

  layerManager.addTileLayer(id + '___' + subset, '/testImages/' + id + '/' + subset, z, id + '___' + subset);
  return false;
}

var testSubsets = null;
var id2name = {};

var loginConsole = null;
var images = null;
var stacks = null;
var layerManager = null;
var searchEngine = null;

var state = {iids: [],
             shape: [1, 1],
             loaded: [[]],
             focus: [[0., 0.]],
             display: 'matrix',
             sync: true,
             zoom: 10.};

function parseState(search)
{
  var params = search.split('&');
  var state = {};
  for (var i = 0; i < params.length; i++)
  {
    var pair = params[i].split('=');
    if (pair.length != 2)
    {
      console.warn('Invalid argument: ' + params[i]);
      continue;
    }

    var argName = decodeURIComponent(pair[0]);
    var argVal = decodeURIComponent(pair[1]);

    if (argName in state)
    {
      console.warn('Multiple definition of argument: ' + argName);
      continue;
    }

    switch (argName)
    {
      case 'display':
        if (argVal != 'matrix' && argVal != 'serial')
        {
          console.warn('Invalid display: ' + argVal);
          continue;
        }
        state.display = argVal;
        break;

      case 'focus':
        var focus = argVal.split(',');
        if (focus.length == 0)
        {
          console.warn('Invalid focus');
          continue;
        }
        for (var j = 0; j < focus.length; j++)
        {
          var pair = focus[j].split(':');
          if (pair.length != 2 || isNaN(pair[0]) || isNaN(pair[1]))
          {
            console.warn('Invalid focus: ' + focus[j]);
            focus = null;
            break;
          }
          pair = [parseFloat(pair[0]), parseFloat(pair[1])];
          if (isNaN(pair[0]) || isNaN(pair[1]))
          {
            console.warn('Invalid focus (NaN): ' + focus[j]);
            focus = null;
            break;
          }
          focus[j] = pair;
        }
        if (focus == null) continue;
        state.focus = focus;
        break;

      case 'iids':
        var iids = [];
        var tmp = argVal.split(',');
        for (var j = 0; j < tmp.length; j++)
        {
          var pair = tmp[j].split(':');
          if (pair.length != 2)
          {
            console.warn('Invalid iid in iids: ' + tmp[i]);
            continue;
          }

          var iid = parseInt(pair[0]);
          if (isNaN(pair[0]) || isNaN(iid) || iid < 1) // applied to the case iid[0] is '' etc.
          {
            console.warn('Invalid iid (NaN) in iids: ' + tmp[i]);
            continue;
          }

          iids.push([iid, pair[1]]);
        }
        state.iids = iids;
        break;

      case 'loaded':
        var loaded = argVal.split(',');
        for (var j = 0; j < loaded.length; j++)
        {
          var tmp = loaded[j].split(':');
          for (var k = 0; k < tmp.length; k++)
          {
            if (isNaN(tmp[k]))
            {
              console.warn('Invalid loaded: ' + tmp[k]);
              tmp = null;
              break;
            }
            tmp[k] = parseInt(tmp[k]);
            if (isNaN(tmp[k]) || tmp[k] < 0)
            {
              console.warn('Invalid loaded (int): ' + tmp[k]);
              tmp = null;
              break;
            }
          }
          if (tmp == null)
          {
            loaded = null;
            break;
          }
          loaded[j] = tmp;
        }
        if (loaded == null) continue;
        state.loaded = loaded;
        break;

      case 'shape':
        var shape = argVal.split(',');
        if (shape.length != 2 || isNaN(shape[0]) || isNaN(shape[1]))
        {
          console.warn('Invalid shape: ' + argVal);
          continue;
        }
        shape[0] = parseInt(shape[0]);
        shape[1] = parseInt(shape[1]);
        if (isNaN(shape[0]) || isNaN(shape[1]) || shape[0] < 1 || shape[1] < 1)
        {
          console.warn('Invalid shape (int): ' + argVal);
          continue;
        }
        state.shape = shape;
        break;

      case 'show':
        var pair = argVal.split(':');
        if (pair.length != 2 || isNaN(pair[0]))
        {
          console.warn('Invalid show: ' + argVal);
          continue;
        }
        var iid = parseInt(pair[0]);
        if (isNaN(iid) || iid < 1)
        {
          console.warn('Invalid iid: ' + iid);
          continue;
        }
        state.iids = [[iid, pair[1]]];
        state.loaded = [[0]];
        state.shape = [1, 1];
        break;

      case 'sync':
        if (argVal != 'y' && argVal != 'n')
        {
          console.warn('Invalid sync: ' + argVal);
          continue;
        }
        state.sync = argVal == 'y';
        break;
        
      case 'zoom':
        var zoom = parseFloat(argVal);
        if (isNaN(argVal) || isNaN(zoom))
        {
          console.warn('Invalid zoom: ' + argVal);
          continue;
        }
        state.zoom = zoom;
        break;

      default:
        console.warn('Unknown argument: ' + argName);
    }
  }

  var n = 'shape' in state ? state.shape[0] * state.shape[1] : 1;
  if ('focus' in state)
  {
    if (state.focus.length > n)
    {
      console.warn('Invalid focus (len)');
      delete state.focus;
    }
  }

  if ('loaded' in state)
  {
    if (state.loaded.length > n || !('iids' in state))
    {
      console.warn('Invalid loaded (len)');
      delete state.loaded;
    }
    else
    {
      var niids = state.iids.length;
      for (var i = 0; i < state.loaded.length; i++)
      {
        var loaded = state.loaded[i];
        for (var j = 0; j < loaded.length; j++)
        {
          if (loaded[j] >= niids)
          {
            console.warn('Invalid loaded (val)');
            delete state.loaded;
            loaded = null;
            break;
          }
        }
        if (loaded == null) break;
      }
    }
  }
  return state;
}

$(function()
{
  //$('#logoutLink').hide();
  if (window.location.search != '')
  {
    var tmp = parseState(window.location.search.substring(1));
    for (var name in tmp)
    {
      state[name] = tmp[name];
    }
  }



  loginConsole = new BrainSlices.ajax.CUserPanel($('#userPanel'),
                                                 $('#loginLink'),
                                                 $('#logoutLink'));


/**********************************************/

  var nx = state.shape[0];
  var ny = state.shape[1];
  $('#nx').val(nx);
  $('#ny').val(ny);
  $('#x').val(state.focus[0][0]);
  $('#y').val(state.focus[0][1]);

  images = new BrainSlices.api.CImageManager(loginConsole);
  stacks = new BrainSlices.api.CSynchronizedStacksDisplay($('#sliceDisplay'), nx, ny,
                                          false, state.zoom,
                                          state.focus[0][0],
                                          state.focus[0][1],
                                          null, null,
                                          $('#controlPanel'),
                                          '/static/gfx', images);
  stacks.updateZoomPanel();
  if (state.display == 'serial') // != 'matrix'
  {
    stacks.rearrange(nx, ny, parseInt(Math.max(100, 66 * nx / ny)) + '%');
  }

  for (var i = 0; i < state.focus.length; i++)
  {
    stacks.setFocusPoint(state.focus[i][0], state.focus[i][1], i);
  }

  if (state.sync)
  {
    stacks.syncStart();
    $('#controlPanel [name="synchronization"]').attr("checked", "checked");
  }
  else
  {
    $('#controlPanel [name="synchronization"]').removeAttr("checked");
  }

  layerManager = new CLayerManager($('#controlPanel .layerList'), stacks,
                                   loginConsole, false, false, false, true);


  var loadImageI = 0;
  var loadedImages = [];
  function loadNextImage()
  {
    if (loadImageI < state.iids.length)
    {
      var imageI = loadImageI++;
      var pair = state.iids[imageI];
      var id = pair[0];
      var md5 = pair[1].toLowerCase();

      id = layerManager.addTileLayer(id, '/images/' + id,
                                     state.iids.length - imageI - 1,
                                     '#'+id, null, null, loadNextImage,
                                     function(msg)
                                     {
                                       alert(msg);
                                       loadedImages[imageI] = null;
                                       loadNextImage();
                                     },
                                     function(info)
                                     {
                                       if (info.md5.toLowerCase() != md5)
                                       {
                                         alert('Image of iid ' + info.iid + ' has been changed.')
                                         loadedImages[imageI] = null;
                                         loadNextImage();
                                         return false;
                                       }
                                       return true;
                                     });
      loadedImages.push(id);
    }
    else
    {
      for (var i = 0; i < state.loaded.length; i++)
      {
        var loaded = state.loaded[i];
        for (var j = 0; j < loaded.length; j++)
        {
          var id = loadedImages[loaded[j]];
          if (id != null)
          {
            layerManager.load(i, id);
          }
        }
      }
    }
  }

  loadNextImage();


  function CFilterPanel(row, set, reset)
  {
    this.triggers(set, reset);
    this.reset();
    this.$row = $(row ? row : '<span>');
  }

  CFilterPanel.prototype = 
  {
    set:
    function(name, value)
    {
      if (this.onset)
      {
        this.onset(name, value);
      }
      return this;
    },

    reset:
    function()
    {
      if (this.onreset)
      {
        this.onreset();
      }
      return this;
    },

    triggers:
    function(set, reset)
    {
      this.onset = set;
      this.onreset = reset;
      return this;
    },

    make:
    function(t, data)
    {
      console.debug(t)
      this.$row.hide().empty();
      var $input;
      var thisInstance = this;
      switch (t)
      {
        case 'f':
          var $op = $('<select>'
                      +'<option selected="selected">eq</option>'
                      +'<option>gt</option>'
                      +'<option>gteq</option>'
                      +'<option>---</option>'
                      +'</select>')
            .appendTo(this.$row);
          $input = $('<input type="number" value="0">')
            .appendTo(this.$row);

          var $op2 = $('<select disabled="disabled">'
                       +'<option>lt</option>'
                       +'<option>lteq</option>'
                       +'<option selected="selected">---</option>'
                       +'</select>')
            .appendTo(this.$row);
          var $input2 = $('<input type="number" disabled="disabled" value="0">')
            .appendTo(this.$row);

          this.change = function()
          {
            thisInstance.reset();
            var op = $op.val();
            var op2 = $op2.val();

            if (op != 'eq' && op2 != '---')
            {
              thisInstance.set(op2, parseFloat($input2.val()));
            }

            if (op != '---')
            {
              thisInstance.set(op, parseFloat($input.val()));
            }
          };

          $op.change(this.change)
            .change(function()
            {
              if ($op.val() == 'eq')
              {
                $op2.attr('disabled', 'disabled');
                $input2.attr('disabled', 'disabled');
              }
              else
              {
                $op2.removeAttr('disabled');
                if ($op2.val() != '---')
                {
                  $input2.removeAttr('disabled');
                }
              }

              if ($op.val() == '---')
              {
                $input.attr('disabled', 'disabled');
              }
              else
              {
                $input.removeAttr('disabled');
              }
            });
          $op2.change(this.change)
            .change(function()
            {
              if ($op2.val() == '---')
              {
                $input2.attr('disabled', 'disabled');
              }
              else
              {
                $input2.removeAttr('disabled');
              }
            });
          $input.change(this.change);
          $input2.change(this.change);

          this.$row.show();
          break;

        case 'x':
          this.change = function()
          {
            thisInstance.set('plain', $input.val());
          };
          $input = $('<input type="text">')
            .val('')
            .appendTo(this.$row)
            .change(this.change);
          this.$row.show();
          break;

        case 'e':
          this.change = function()
          {
            thisInstance.set('is', $input.val());
          };
          $input = $('<input type="text">')
            .autocomplete({source: data})
            .appendTo(this.$row)
            .change(this.change);
          this.$row.show();
          break;

        default:
          this.change = function(){};
          break;
      }
      return this;
    },

    detach:
    function()
    {
      this.$row.detach();
      return this;
    },

    appendTo:
    function($dst)
    {
      this.$row.appendTo($dst);
      return this;
    },

    prependTo:
    function($dst)
    {
      this.$row.prependTo($dst);
      return this;
    },

    destroy:
    function()
    {
      delete this.onchange;
      delete this.onreset;
      this.$row.remove();
      delete this.$row;
      delete this.change;
    }
  }


  // try to use tableManager? sort mathod would be necessary ;-)
  searchEngine = new CPropertiesSearch(loginConsole,
  {
    data: $('table#searchPanel tbody'),
    add: function(name, type, filter)
    {
      var change, remove, n;
      // list of variables for my convenience
      if (name == null)
      {
        remove = function()
        {
          // global
          searchEngine.removeAny(n);
        }

        filter.triggers(
          function(op, value)
          {
            searchEngine.setAny(n, op, value);
          },
          function()
          {
            searchEngine.resetAny(n);
          });

      }
      else
      {
        remove = function()
        {
          // global
          searchEngine.remove(name);
        }

        filter.triggers(
          function(op, value)
          {
            searchEngine.set(name, op, value);
          },
          function()
          {
            searchEngine.reset(name);
          });
      }

      var $row = $('<tr><th>' + 
                   (name != null ?
                    (name + ' (' + type + ')') :
                    ('(any field of type ' + type + ')')) +
                   '</th></tr>');
      var $td = $('<td></td>');
      $row.append($td);

      filter.appendTo($td);

//      switch (type)
//      {
//        case 's':
//          $op = $('<select>'
//                  +'<option>is</option>'
//                  +'<option>like</option>'
//                  +'<option>similar</option>'
//                  +'<option>posix</option>'
//                  +'</select>');
//          $td.append($op);
//          $input = $('<input type="text">');
//          $td.append($input);
//          $op.change(change);
//          $input.change(change);
//          break;

      var $remButton = $('<button>X</button>');
      $td.append($remButton);
      $remButton.click(remove);

      this.data.append($row);
      var triggers = {data: {$row: $row},
                      destroy:
                      function()
                      {
                        filter.destroy();
                        this.data.$row.remove();
                      }};
      if (name != null)
      {
        this.add(name, type, triggers);
      }
      else
      {
        n = this.addAny(type, triggers);
      }

      filter.change();
    }
  });


  $('#searchPropertySearch').click(function()
  {
    searchEngine.search(function(result)
    {
      var $tbody = $('#searchResults table tbody').empty();
      for (var i = 0; i < result.length; i++)
      {
        var row = result[i];
        var iid = row[0];
        var properties = row[1];
        var size = row[2];
        var $tr = $('<tr><td>#' + iid + '</td></tr>');
        var $td = $('<td></td>');
        $tr.append($td);
        // XXX: a hack :-/
        $td.append(BrainSlices.gui.getThumbnail(iid, size[0], size[1], 60, 60));
        $td = $('<td></td>');
        $tr.append($td);
        var $ul = $('<ul></ul>');
        $td.append($ul);
        for (var name in properties)
        {
          var $li = $('<li>' + name + '</li>');
          $ul.append($li);
          //$ul.append('<dt>' + name + '</dt>');
          var property = properties[name];
          switch (property.type)
          {
            case 's':
            case 'x':
            case 'f':
            case 'i':
              //$ul.append('<dd>' + property.value + '</dd>');
              $li.append(': ' + property.value);
              break;

            case 't':
              //$ul.append('<dd>Tag</dd>');
              break;
          }
        }
        $td = $('<td></td>');
        $tr.append($td);
        var $button = $('<button>Add</button>');
        $td.append($button);
        (function(iid)
        {
          $button.click(function()
          {
            //var z = $('#z').val();
            //global
            layerManager.addTileLayer(iid, '/images/' + iid, null, '#' + iid); 
          });
        })(iid);
        $tbody.append($tr);
      }
    });
  });

  $.widget('brainslices.propertybox', $.ui.autocomplete,
  {
    _renderMenu: function($ul, items)
    {
      var thisInstance = this;
      var lastData = null;
      $.each(items, function(index, item)
      {
        if (item.data != null && lastData == null)
        {
          $ul.append('<li class="ui-autocomplete-category">Field names</li>');
        }
        lastData = item.data;
        thisInstance._renderItemData($ul, item);
      });
    }
  });

  $.widget('brainslices.newpropertyfilter',
  {
    options:
    {
      typeLabels:
      {
        t: 'Tag',
        f: 'Number',
        x: 'Text',
        e: 'Enumerative'
      },

      anyLabel: '--- any field ---'
    },

    _create: function()
    {
      this.$wrapper = $('<span>')
        .addClass('brainslices-newpropertyfilter')
        .appendTo(this.element);
      this._createPropertybox();
      this._createTypeSelect('tfx');
      this._createSubmitButton();
    },

    _createPropertybox: function()
    {
      var $span = $('<span>')
        .addClass("select-property ui-widget")
        .appendTo(this.$wrapper);

      this.propertyName = ''; //null
      var $input = $('<input>')
        .attr(
        {
          title: '',
          type: 'text',
          value: '' //this.options.anyLabel
        })
        .tooltip()
        .addClass('ui-widget-content ui-state-default ui-corner-left')
        .propertybox(
        {
          source: $.proxy(this, '_source'),
          minLength: 0
        })
        .keypress($.proxy(function(e)
        {
          if (e.keyCode == 13)
          {
            this.$input.blur();
            //this._propertyChange();
          }
        }, this))
        .appendTo($span);

      this.$input = $input;
      this._on(this.$input,
      {
        propertyboxselect: '_propertySelect',
        propertyboxchange: '_propertyChange'
      });

      var wasOpen = false;
      var $a = $('<a>')
        .appendTo($span)
        .button(
        {
          icons: {primary: "ui-icon-triangle-1-s"},
          text: false
        })
        .removeClass('ui-corner-all')
        .addClass('select-property-toggle ui-corner-right')
        .attr('title', 'Show all possible fields')
        .tooltip()
        .mousedown(function()
        {
          wasOpen = $input.propertybox('widget').is( ":visible" );
        })
        .click(function()
        {
          $input.focus();
          if (wasOpen) return;

          $input.propertybox('search', '');
        });

    },

    _createTypeSelect: function()
    {
      this.$types = $('<select>')
        .appendTo(this.$wrapper);

      var thisInstance = this;
      this.filter = new CFilterPanel('<div>')
        .appendTo(this.$wrapper);

      this._updateTypeSelect('fxte');
    },

    _updateTypeSelect: function(types, selected)
    {
      this.$types.empty();
      if (!types) return;
      if (!selected)
      {
        selected = types[0];
      }
      var typeLabels = this.options.typeLabels;
      for (var i = 0; i < types.length; i++)
      {
        var t = types[i];
        var label = t in typeLabels ? typeLabels[t] : t;
        this.$types.append('<option value="' + t +
                           (selected == t ? '" selected="selected">' : '">')
                           + label + '</option>');
      }

      this.$types.change($.proxy(this, '_changeTypeSelect'));

      this._changeTypeSelect();
    },

    _changeTypeSelect: function()
    {
      var t = this.$types.val();
      if (t == 'e')
      {
        var data = [];
        if (this.propertyName == null)
        {
          data = this.options.enumeratedAll;
        }
        else if (this.propertyName in this.options.enumerated)
        {
          data = this.options.enumerated[this.propertyName];
        }
        this.filter.make(t, data);
      }
      else
      {
        this.filter.make(t);
      }
    },

    _createSubmitButton: function()
    {
      var $a = $('<a>')
        .button({label: 'Add'})
        .click($.proxy(this, '_onSubmit'))
        .appendTo(this.$wrapper);
    },

    inSelect: false,

    _propertySelect: function(event, ui)
    {
      this.inSelect = true;
      this.$input.blur();
      this.inSelect = false;
      this._propertyChange(event, ui);
    },

    _propertyChange: function(event, ui)
    {
      if (this.inSelect) return;
      if (ui && ui.item)
      {
        var data = ui.item.data;
        this._updateTypeSelect(data != null ? data + 't' : 'fxt');
        this.propertyName = data != null ? ui.item.value : null;
        console.debug('direct match');
        return;
      }

      var value = this.$input.val().trim().toLowerCase();
      this.propertyName = value;
      var valid = false;
      var thisInstance = this;
      $.each(this.options.source, function(name, type)
      {
        if (name === value)
        {
          valid = true;
          thisInstance._updateTypeSelect(type + 't');
          console.debug('indirect match');
          return false;
        }
      });

      if (valid) return;

      this.$input
        .attr('title', value + ' does not match any database field')
        .tooltip('open');

      this._updateTypeSelect('fxt');
      this._delay(function()
      {
        this.$input
          .tooltip('close')
          .attr('title', '');
      }, 2500);

    },

    _source:
    function(request, response)
    {
      var properties = [{value: this.options.anyLabel,
                         label: this.options.anyLabel,
                         data: null}];
      var filter = new RegExp(
        $.ui.autocomplete.escapeRegex(request.term),
        'i');

      var source = this.options.source;
      for (var name in source)
      {
        if (!request.term || filter.test(name))
        {
          properties.push({value: name,
                           label: name,
                           data: source[name]});
        }
      }
      response(properties);
    },

    _onSubmit: function()
    {
      if (this.propertyName == '')
      {
        this.$input
          .attr('title', 'An empty property name provided.')
          .tooltip('open');
        this._delay(function()
        {
          this.$input
            .tooltip('close')
            .attr('title', '');
        }, 2500);
        return;
      }

      var type = this.$types.val();

      this.options.submit(this.propertyName, type, this.filter.detach());
      this.filter = new CFilterPanel('<div>')
        .make(type)
        .appendTo(this.$wrapper);
      // UPS - would be before Add button :-D
    },

    destroy:
    function()
    {
      this.$wrapper.remove();
      if (this.filter)
      {
        this.filter.destroy();
        delete this.filter;
      }
    }
  });


  loginConsole.ajax('/meta/getPropertyList',
                    function(data)
                    {
                      if (data.status)
                      {
                        var enumerated = data.data[1];
                        var enumeratedAll = {};
                        for (var name in enumerated)
                        {
                          $.each(enumerated[name],
                                 function(i, v)
                                 {
                                   enumeratedAll[v] = null;
                                 });
                        }
                        enumeratedAll = $.map(enumeratedAll, function(v, k)
                                                             {
                                                               return k;
                                                             });
                        enumeratedAll.sort();

                        $('#searchProperty').newpropertyfilter(
                        {
                          source: data.data[0],
                          enumerated: enumerated,
                          enumeratedAll: enumeratedAll,
                          submit: function(name, type, filter)
                          {
                            if (name != null && searchEngine.has(name))
                            {
                              alert('Property ' + name + ' already selected.');
                            }
                            else
                            {
                              searchEngine.autoAdd(name, type, filter);
                            }
                          }
                        });
                      }
                      else
                      {
                        alert(data.message);
                      }
                    });


});

function testSetChanged()
{
  var subsets = testSubsets[$('#testSet').val()].slice(0);
  subsets.sort();
  var testSubsetOptions = '';
  while (subsets.length > 0)
  {
    testSubsetOptions += '<option>' + subsets.shift() + '</option>';
  }
  $('#testSubset').html(testSubsetOptions);
}

  </script>

 </head>    
 <body style="margin: 0pt; height:100%;">
  <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden;">
   <div id="sliceDisplay">
   </div>
   <!--%controlPanel%-->
  </div>
  <!--%userPanel%-->
 </body>
</html>

