<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/js/interface.js" type="text/javascript"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
    <script>

var loginConsole = null;
var privilegeManager = null;
var tableManager = null;

function CImagePrivilegesManager(ajaxProvider)
{
  var privileges = {};

  this.add = function(item, $row, onUpdate)
  {
    var iid = item[0];
    if (iid in privileges) return false;
    var publicPrivileges = item[1];
    var groups = item[2];
    var gps = {};
    for (var i = 0; i < groups.length; i++)
    {
      var group = groups[i];
      gps[group[0]] = {edit: group[1],
                       annotate: group[2],
                       outline: group[3]};
    }

    var privilege = {view_: publicPrivileges[0],
                     edit_: publicPrivileges[1],
                     annotate_: publicPrivileges[2],
                     outline_: publicPrivileges[3],
                     groups_: gps,
                     $row: $row,
                     onUpdate: onUpdate};
    privileges[iid] = privilege;
    privilege.reset = function()
    {
      privilege.view = privilege.view_;
      privilege.edit = privilege.edit_;
      privilege.annotate = privilege.annotate_;
      privilege.outline = privilege.outline_;
      var gps = privilege.groups_;
      var groups = {};
      for (var gid in gps)
      {
        var group = gps[gid];
        groups[gid] = {edit: group.edit,
                       annotate: group.annotate,
                       outline: group.outline};
      }
      privilege.groups = groups;
      privilege.changedPublic = false;
      privilege.changedGroup = false;
      if (privilege.onUpdate != null)
      {
        privilege.onUpdate(privilege);
      }

      if (privilege.$row != null && privilege.$row.hasClass('privilegeChanged'))
      {
        privilege.$row.removeClass('privilegeChanged');
      }
    };

    privilege.changePublic = function(view, edit, annotate, outline)
    {
      if (view != null) privilege.view = view;
      if (edit != null) privilege.edit = edit;
      if (annotate != null) privilege.annotate = annotate;
      if (outline != null) privilege.outline = outline;
      privilege.changedPublic = true;
      if (privilege.$row != null)
      {
        privilege.$row.addClass('privilegeChanged');
      }
    };

    //TODO: privilege add/revoke/change group

    privilege.destroy = function()
    {
      privilege.reset = null;
      privilege.changePublic = null;
      privilege.destroy = null;
      delete privileges[iid]; //autoremove :-)
    }
  };

  this.remove = function(iid)
  {
    if (iid in privileges) privileges[iid].destroy();
  };

  this.apply = function(iid, f)
  {
    if (iid == null)
    {
      for (iid in privileges)
      {
        f(privileges[iid]);
      }
    }
    else if (iid in privileges)
    {
      f(privileges[iid]);
    }
  };

  this.changePublic = function(iid, view, edit, annotate, outline)
  {
    this.apply(iid, function(x)
    {
      x.changePublic(view, edit, annotate, outline);
    });
  };

  this.reset = function(iid)
  {
    this.apply(iid, function(x)
    {
      x.reset();
    });
  };

  this.flush = function()
  {
    var toDismiss = {};
    for (var iid in privileges)
    {
      toDismiss[iid] = null;
    }

    for (var iid in toDismiss)
    {
      this.remove(iid);
    }
  };

  this.savePublic = function(finalFunction)
  {
    var toSave = [];
    for (var iid in privileges)
    {
      var privilege = privileges[iid];
      if (privilege.changedPublic)
      {
        toSave.push([iid, privilege.view ? 1 : 0, privilege.edit ? 1 : 0,
                     privilege.annotate ? 1 : 0, privilege.outline ? 1: 0].join(','));
      }
    }

    if (toSave.length > 0)
    {
      ajaxProvider.ajax('/upload/changePublicPrivileges',
                        function(response)
                        {
                          if (!response.status)
                          {
                            alert(response.message);
                            return;
                          }

                          var list = response.data;
                          for (var i = 0; i < list.length; i++)
                          {
                            var item = list[i];
                            var iid = item[0];
                            if (iid in privileges)
                            {
                              var privilege = privileges[iid];
                              privilege.view_ = privilege.view;
                              privilege.edit_ = privilege.edit;
                              privilege.annotate_ = privilege.annotate;
                              privilege.outline_ = privilege.outline;
                              privilege.changedPublic = false;
                              if (privilege.$row != null
                                  && !privilege.changedGroup
                                  && privilege.$row.hasClass('privilegeChanged'))
                              {
                                privilege.$row.removeClass('privilegeChanged');
                              }
                            }
                          }
                        },
                        {privileges: toSave.join(':')});
    }
  }

  this.destroy = function()
  {
    this.flush();
    this.add = null;
    this.remove = null;
    this.reset = null;
    this.changePublic = null;
    this.apply = null;
    this.flush = null;
    this.destroy = null;
  }
}

function listBatches()
{
  // redundant with CFileUploader.listBatches

  var $batchSelect = $('#privilegesPanel select[name="bid"]');
  $batchSelect.html('<option value="None" selected="selected">None</option>');
  loginConsole.ajax(
    '/upload/batchList',
    function(response)
    {
      if (!response.status)
      {
        alert(response.message);
        return;
      }
      var list = response.data;
      for (var i = 0; i < list.length; i++)
      {
        $batchSelect.append('<option value="' + list[i][0] + '">' +
                       escapeHTML(list[i][1]) + '</option>');
      }
    },
    null,
    ajaxErrorHandler,
    'POST',
    {cache: false});
}

function listBatch()
{
  var bid = $('#privilegesPanel select[name="bid"]').val();
  var query = (bid == 'None') ? '' : 'bid=' + bid;

  loginConsole.ajax(
    '/upload/batchDetails',
    function(response)
    {
      if (!response.status)
      {
        alert(response.message);
        return false;
      }

      var data = response.data;
      if (data.length == 0)
      {
        return;
      }

      var iids = [];
      var iMap = {};

      data.sort(function(a, b)
                {
                  if (a.filename < b.filename)
                  {
                    return -1;
                  }
                  if (a.filename > b.filename)
                  {
                    return 1;
                  }
                  return a.iid - b.iid;
                });

    	for (var i = 0; i < data.length; i++)
    	{
        var image = data[i];
        var iid = image.iid;
        iMap[iid] = image;
        iids.push(iid);
    	}
      loginConsole.ajax(
        '/upload/getPrivileges',
        function(response)
        {
          if (!response.status)
          {
            alert(response.message);
            return false;
          }

          privilegeManager.flush();
          tableManager.flush();

          //var $privilegesList = $('#privilegesPanel .layerList');
          //$privilegesList.empty();

          var data = response.data;
          for (var j = 0; j < data.length; j++)
          {
            var item = data[j];

            var iid = item[0];
            var privileges = item[1];
            var groups = item[2];
            var info = iMap[iid];

            var $row = $('<tr></tr>');
            $row.append($('<td draggable="true">' + iid + '</td>'));
            $row.append($('<td draggable="true"></td>').append(getThumbnail(iid, info.imageWidth, info.imageHeight, 120, 90)));
            function getCBs(iid)
            {
              var res = [];
              var cbs = [];
              function updatePrivileges()
              {
                privilegeManager.changePublic(iid,
                                       cbs[0].filter(':checked').length > 0, 
                                       cbs[1].filter(':checked').length > 0, 
                                       cbs[2].filter(':checked').length > 0, 
                                       cbs[3].filter(':checked').length > 0);
              }
              for (var i = 0; i < 4; i++)
              {
                var $cb = $('<input type="checkbox"' + (privileges[i] ? ' checked="checked">' : '>'));
                $cb.bind('change', updatePrivileges);
                cbs.push($cb);
                var $td = $('<td></td>').append($cb);
                res.push($td);
              }
              return res;
            }
            var cbs = getCBs(iid);
            for (var i = 0; i < 4; i++)
            {
              $row.append(cbs[i]);
            }

            //for (var i = 0; i < privileges.length; i++)
            //{
            //  $row.append($('<td>' + privileges[i] + '</td>'));
            //}
            $row.append($('<td>' + groups.join(' ') + '</td>'));

            privilegeManager.add(item, $row, null);
            tableManager.add($row, iid);
           // $privilegesList.append($row);
          }
        },
        {iids: iids.join(',')});
    },
    query);

  return false;
}

$(function()
{
  loginConsole = new CUserPanel($('#userPanel'), $('#loginLink'), $('#logoutLink'),
                 function()
                 {
                   listBatches();
                   $('#helloMessage').text('Logged as ' + loginConsole.isLoggedAs());
                 },
                 function()
                 {
                   listBatches();
                   $('#helloMessage').text('Not logged in');
                 },
                 null,
                 function()
                 {
                   $('.formErrorMessages').text(''); //XXX: is necessary?
                 });
  privilegeManager = new CImagePrivilegesManager(loginConsole);
  tableManager = new CTableManager($('#privilegesPanel table tbody.layerList'));
});



    </script>
  </head>
  <body>
   <a href="javascript:void(0)" id="logoutLink">logout</a>
   <a href="javascript:void(0)" id="loginLink">login</a>
   
   <p id="helloMessage">Not logged in</p>

   <div id="privilegesPanel">
    <select name="bid">
     <option selected="selected">None</option>
    </select>
    <a href="javascript:void(0)" onclick="return listBatch();">List</a>
    <table border>
     <thead>
      <tr>
       <th colspan="2">
        Image
       </th>
       <th colspan="4">
        Public privileges
       </th>
       <th rowspan="2">
        Groups
       </th>
      </tr>
      <tr>
       <th>
        IID
       </th>
       <th>
        Thumbnail
       </th>

       <th>
        View
       </th>
       <th>
        Edit
       </th>
       <th>
        Annotate
       </th>
       <th>
        Outline
       </th>
      </tr>
     </thead>
     <tfoot>
     </tfoot>
     <tbody class="layerList">
     </tbody>
    </table>
   </div>

   <!--%userPanel%-->
  </body>
</html>

