<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/overcast/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <style type="text/css">
     tr.propertyChanged
     {
       background: #FEE;
     }
     li.propertyChanged
     {
       background: #FDD;
     }
     li.propertyNew
     {
       background: #DFD;
     }
    </style>

    <script src="/static/js/libs/jquery/jquery.js" type="text/javascript"></script>
    <script src="/static/js/libs/jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/interface.js" type="text/javascript"></script>
    <script src="/static/js/ajax.js" type="text/javascript"></script>
    <script src="/static/js/properties_manager.js" type="text/javascript"></script>

    <script src="/static/js/widgets.js" type="text/javascript"></script>
    <script>


with ({escapeHTML: BrainSlices.gui.escapeHTML,
       getThumbnail: BrainSlices.gui.getThumbnail,
       CTableManager: BrainSlices.gui.CTableManager})
{
  function CImageAddTriggers(data)
  {
    this.data = data;
  };
  CImageAddTriggers.prototype = {
    add: autoAdd,
    change: function()
    {
      if (this.changed)
      {
        this.data.$row.addClass('propertyChanged');
      }
      else if (this.data.$row.hasClass('propertyChanged'))
      {
        this.data.$row.removeClass('propertyChanged');
      }
    }
  };

  //XXX used by function autoAdd used by CImageAddTriggers -_-
  function CAutoAddTriggers(data)
  {
    this.data = data;
  };


  var suggestedProperties = {};
  var enumeratedProperties = {};

  function makeAddPanel(onsubmit)
  {
    var $addPanel = $('<div></div>');
    var suggestedEnumerated = [];
    //var inSelect = false;
    function nameChanged()
    {
      //if (inSelect) return;
      var name = $name.val().trim().toLowerCase();
      console.debug(name);
      $type.children('option').removeClass('suggested-type');
      if (name in suggestedProperties)
      {
        var suggested = suggestedProperties[name];
        var $options = $type.children('option[value="t"]');
        for (var i = 0; i < suggested.length; i++)
        {
          $.merge($options,
                  $type.children('option[value="'+ suggested[i] + '"]'));
          switch(suggested[i])
          {
            case 'x':
              $.merge($options, $type.children('option[value="s"]'));
              break

            case 'f':
              $.merge($options, $type.children('option[value="i"]'));
              break

            case 'e':
              suggestedEnumerated = name in enumeratedProperties ?
                                    enumeratedProperties[name] : [];
              break;

            default:
              break;
          }
        }
        $options.addClass('suggested-type');
      }
    }

    function source(request, response)
    {
      var suggestions = [];
      var filter = new RegExp(
        $.ui.autocomplete.escapeRegex(request.term), 'i');

      $.each(suggestedEnumerated, function(i, v)
      {
        if (!request.term || filter.test(v))
        {
          suggestions.push(v);
        }
      });

      response(suggestions);
    }

    var $name = $('<input type="text"></input>')
      .appendTo($addPanel)
      .combobox({source: $.map(suggestedProperties,
                               function(v, k){return k;})})
      .on('comboboxchange', nameChanged);
//      .on('comboboxselect', function(event, ui)
//      {
//        inSelect = true;
//        $name.val(ui.item.value).blur();
//        inSelect = false;
//        nameChanged();
//      });

    var $type = $(
       '<select>' +
        '<option value="t" selected="selected">Tag</option>' +
        '<option value="i">Integer</option>' +
        '<option value="f">Float</option>' +
        '<option value="s">String</option>' +
        '<option value="x">Text</option>' +
        '<option value="e">Enumerative</option>' +
       '</select>');
    $addPanel.append($type);
    var inputs = {i: $('<input type="number" step="1" value="0" style="display: none;">'),
                  f: $('<input type="number" value="0" style="display: none;">'),
                  s: $('<input type="text" style="display: none;">'),
                  e: $('<input type="text">'),
                  x: $('<textarea style="display: none;"></textarea>')};
    var inputBases = {};
    for (var t in inputs)
    {
      inputBases[t] = inputs[t];
    }
    inputBases.e = $('<span>')
      .css('display', 'none')
      .append(inputs.e);
    inputs.e.combobox({source: source});
    for (var t in inputBases)
    {
      inputBases[t].appendTo($addPanel);
    }

    $type.bind('change', function()
               {
                 var type = $type.val();
                 for (var t in inputs)
                 {
                   if (t == type)
                   {
                     inputBases[t].show();
                   }
                   else
                   {
                     inputBases[t].hide();
                   }
                 }
               });


    for (var submitText in onsubmit)
    {
      (function(submitText, onsubmit)
      {

        var $addButton = $('<button>' + submitText + '</button>');
        $addPanel.append($addButton);
        $addButton.bind('click', 
                        function()
                        {
                          var name = $name.val().trim();
                          if (name == '')
                          {
                            alert('Property name must be given.');
                            return;
                          }
                      

                          var type = $type.val();
                          var value = type in inputs ?
                                      inputs[type].val() :
                                      null;

                          onsubmit(name, type, value);
                        });
      })(submitText, onsubmit[submitText]);
    }
    return $addPanel;
  }



  var listBatches = function()
  {
    // redundant with CFileUploader.listBatches
  
    var $batchSelect = $('#propertiesPanel select[name="bid"]');
    $batchSelect.html('<option value="None" selected="selected">None</option>');
    loginConsole.ajax(
      '/upload/batchList',
      function(response)
      {
        if (!response.status)
        {
          alert(response.message);
          return;
        }
        var list = response.data;
        for (var i = 0; i < list.length; i++)
        {
          $batchSelect.append('<option value="' + list[i][0] + '">' +
                         escapeHTML(list[i][1]) + '</option>');
        }
      },
      null,
      null,
      null,
      null,
      {cache: false});
  };


  var listBatch = function()
  {
    var bid = $('#propertiesPanel select[name="bid"]').val();
    var query = (bid == 'None') ? '' : 'bid=' + bid;
  
    loginConsole.ajax(
      '/upload/batchDetails',
      function(response)
      {
        if (!response.status)
        {
          alert(response.message);
          return false;
        }
  
        var data = response.data;
        if (data.length == 0)
        {
          return;
        }
  
        var iids = [];
        var iMap = {};
  
        data.sort(function(a, b)
                  {
                    if (a.filename < b.filename)
                    {
                      return -1;
                    }
                    if (a.filename > b.filename)
                    {
                      return 1;
                    }
                    return a.iid - b.iid;
                  });
  
        for (var i = 0; i < data.length; i++)
        {
          var image = data[i];
          var iid = image.iid;
          iMap[iid] = image;
          iids.push(iid);
        }
        loginConsole.ajax(
          '/meta/getImagesProperties',
          function(response)
          {
            if (!response.status)
            {
              alert(response.message);
              return false;
            }
  
            tableManager.flush();
  
            var data = response.data;
            for (var j = 0; j < data.length; j++)
            {
              // XXX: closure
              (function()
              {
                var item = data[j];
  
                var iid = item[0];
                var properties = item[1];
                var info = iMap[iid];
                var annotate = info.annotatePrivilege;
  
                var $row = $('<tr></tr>');
                $row.append($('<td draggable="true">' + iid + '</td>'));
                $row.append($('<td draggable="true"></td>').append(getThumbnail(iid, info.imageWidth, info.imageHeight, 120, 90)));

                var $td = $('<td></td>');
                $row.append($td);
                var $ul = $('<ul></ul>');
                $td.append($ul);

                if (annotate)
                {
                  var data4image = {$row: $row,
                                    $list: $ul};
                  propertiesManager.addImage(iid, new CImageAddTriggers(data4image));
                  for (var propertyName in properties)
                  {
                    var property = properties[propertyName];
                    propertiesManager.autoAdd(iid, propertyName, property.type,
                                              property.type != 't' ?
                                              property.value :
                                              null,
                                              true,
                                              property.edit,
                                              property.view);

                  }

                  $td.append(makeAddPanel({Add:
                                          function(name, type, value)
                                          {
                                            if (propertiesManager.has(iid, name))
                                            {
                                              alert('Property already defined.');
                                              return;
                                            }

                                            propertiesManager.autoAdd(iid, name,
                                                                      type, value);
                                          }}));
                }
                else
                {
                  for (var propertyName in properties)
                  {
                    var property = properties[propertyName];

                    if (property.type == 't')
                    {
                      $ul.append('<li>'+propertyName+'</li>')
                    }
                    else
                    {
                      $ul.append('<li>'+propertyName+':'+property.value+'</li>')
                    }
                  }
                }

                $td = $('<td></td>');
                $row.append($td);

                var $button = $('<button>X</button>');
                $td.append($button);
                $button.bind('click',
                             function()
                             {
                               tableManager.remove(iid);
                             });

                var $button = $('<button>Revert</button>');
                $td.append($button);
                $button.bind('click',
                             function()
                             {
                               propertiesManager.reset(iid);
                             });

                tableManager.add($row, iid, null,
                                 annotate ?
                                 function()
                                 {
                                   propertiesManager.removeImage(iid);
                                 } :
                                 null);
              })(); //XXX: end of closure
            }
          },
          {iids: iids.join(',')});
      },
      query);
  
    return false;
  }

  var loginConsole = null;
  var tableManager = null;
  var propertiesManager = null;
  
  $(function()
  {
    loginConsole = new BrainSlices.ajax.CUserPanel(
                   $('#userPanel'),
                   $('#loginLink'),
                   $('#logoutLink'),
                   function()
                   {
                     listBatches();
                     $('#helloMessage').text('Logged as ' + loginConsole.isLoggedAs());
                   },
                   function()
                   {
                     listBatches();
                     $('#helloMessage').text('Not logged in');
                   },
                   null,
                   function()
                   {
                     $('.formErrorMessages').text(''); //XXX: is necessary?
                   });

    loginConsole.ajax('/meta/getPropertyList',
      function(data)
      {
        if (data.status)
        {
          suggestedProperties = data.data[0];
          enumeratedProperties = data.data[1];

          $('#propertyAddPanel').append(makeAddPanel(
          {Add:
           function(name, type, value)
           {
             propertiesManager.apply(function()
                                     {
                                       if (!this.has(name))
                                       {
                                         this.autoAdd(name, type, value);
                                       }
                                     });
           },
           Set: function(name, type, value)
           {
             propertiesManager.apply(function()
             {
               if (this.has(name))
               {
                 this.remove(name);
               }
               this.autoAdd(name, type, value);
             });
           }
          }));
 
        }
        else
        {
          alert(data.message);
        }
      });

    tableManager = new CTableManager($('#propertiesPanel table tbody.layerList'));
    propertiesManager = new CPropertiesManager(loginConsole);

  });
}


    </script>
  </head>
  <body>
   <a href="javascript:void(0)" id="logoutLink">logout</a>
   <a href="javascript:void(0)" id="loginLink">login</a>
   
   <p id="helloMessage">Not logged in</p>

   <div id="propertiesPanel">
    <select name="bid">
     <option selected="selected">None</option>
    </select>
    <a href="javascript:void(0)" onclick="return listBatch();">List</a>
    <table border>
     <thead>
      <tr>
       <th colspan="2">
        Image
       </th>
       <th rowspan="2">
        Properties
       </th>
       <th rowspan="2">
        Remove
       </th>
      </tr>
      <tr>
       <th>
        IID
       </th>
       <th>
        Thumbnail
       </th>
      </tr>
     </thead>
     <tfoot>
      <tr>
       <td colspan="2"></td>
       <td id="propertyAddPanel"></td>
       <td>
        <button onclick="propertiesManager.save();">Save</button>
        <button onclick="propertiesManager.reset();">Revert</button>
       </td>
      </tr>
     </tfoot>
     <tbody class="layerList">
     </tbody>
    </table>
   </div>

   <!--%userPanel%-->
  </body>
</html>

