<div class="searchPanelDiv">
    <div class="search-header-label">Filters</div>
    <table id="searchPanel">
        <thead>
            <tr>
                <th class="property-column">Property</th>
                <th class="condition-column">Condition</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <!--<tr id="searchProperty">
            </tr>-->
            <!--<tr>
                <td><span id="searchProperty"><span class="brainslices-newpropertyfilter"></span></span></td>
                <td><span class="brainslices-propertyfilter"></span></td>
            </tr>-->
        </tfoot>
    </table>
    <div>
        <button id="searchPropertySearch">Search</button>
    </div>

    <div class="search-header-label">Results</div>
    <div id="searchResults">
        <table>
        <thead>
            <tr><th>IID</th><th>Thumbnail</th><th>Properties</th><th>Load</th></tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
        </table>
    </div>
</div>
