<table id="searchPanel">
    <thead>
        <tr><th>Property</th><th>Condition</th></tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><span id="searchProperty"></span></td>
        </tr>
        <tr>
            <td colspan="2"><button id="searchPropertySearch">Search</button></td>
        </tr>
    </tfoot>
</table>

<div id="searchResults">
    <table>
    <thead>
        <tr><th>IID</th><th>Thumbnail</th><th>Properties</th><th>Load</th></tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    </tfoot>
    </table>
</div>
