    <div id="czarownik">
     <div id="batchSelection">
      Select a collection uploaded images will be added to. <br>

      <div class="selectWrapper">
       <select id="newBatch">
        <option value="yes">New collection:</option>
        <option value="no">Existing collection:</option>
       </select>
       <input id="newBatchName" type="text" value="" placeholder="collection name">
       <select id="existingBatch">
       </select>
      </div>
     </div>

		 <div id="metadataUpload">
      Provide basic information about the images.<br>
      If not provided default values will be used. <br>
      <label id="resolutionUpload"></label>
      <details class="uploadAdvanced">
       <summary class="uploadAdvanced">
        <span class="fa fa-angle-double-up uploadAdvanced"></span>
        <span class="fa fa-angle-double-down uploadAdvanced"></span>
        Advanced
       </summary>
       <label id="offsetUpload"></label><br>
      </details>
     </div>

     <div id="fileSelection"> 
      Select images for upload.<br>
      <input id="filesForUpload" type="file" multiple="multiple"/> <br>
      <input type="checkbox" checked="checked" id="filterImageType"/> Do not upload non-image files. <br>
  
      <button id="uploadFiles">Upload</button>
     </div>

<!--     <div id="czarownikOverlay" class="overlay" style="display: none;">
     </div> -->

    </div>

    <div id="fileListDiv" style="display: none;">
     <div id="notAllFilesIncluded" style="display: none;">
     </div>
     <table border class="uploaded">
      <caption>Files being uploaded</caption> <!-- może pojawiać się gdy czarownik znika -->
      <thead>
       <tr>
        <th>
         Filename
        </th>
        <th>
         Size
        </th>
<!--
        <th>
         IID
        </th>
        <th>
         crc32
        </th>
-->
       </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody id="fileList">
      </tbody>
     </table>
     <button id="fileListClose">Close</button>
    </div>
