<html>
 <head>
  <title>Skrawki engine - upload test site.</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="/static/gfx/nut.ico"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<!--  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.dialog.min.css" /> -->
  <script src="/static/js/jquery.js" type="text/javascript"></script>
<!--  <script src="/static/js/jquery-1.7.2.js" type="text/javascript"></script> -->
  <script src="/static/js/html5slider.js" type="text/javascript"></script>
  <script src="/static/js/common.js" type="text/javascript"></script>
  <script src="/static/js/spark-md5.min.js" type="text/javascript"></script>
  <script src="/static/js/interface.js" type="text/javascript"></script>
  <script src="/static/js/upload.js" type="text/javascript"></script>
  <script src="/static/js/layer_stack.js" type="text/javascript"></script>
  <script src="/static/js/tile_layer.js" type="text/javascript"></script>
  <script src="/static/js/image_manager.js" type="text/javascript"></script>
  <script src="/static/js/layer_manager.js" type="text/javascript"></script>
  <script src="/static/js/synchronized_stacks.js" type="text/javascript"></script>
  <script src="/static/js/ajax.js" type="text/javascript"></script>
<!--  <script src="/static/js/jquery-ui-1.10.3.dialog.min.js" type="text/javascript"></script> -->
  <script type="text/javascript">

with ({STATUS_MAP: BrainSlices.gui.STATUS_MAP})
{
  var listBatch = function()
  {
    var bid = $('.batch select').val();
    var query = (bid == 'None') ? '' : 'bid=' + bid;
  
    loginConsole.ajax('/upload/batchDetails',
                      function(data)
                      {
                        if (!data.status)
                        {
                          alert(data.message);
                          return false;
                        }
  
                        layerManager.flush();
                        fileUploader.reset();
                        data.data.sort(function(a, b)
                                       {
                                         if (a.filename < b.filename)
                                         {
                                           return -1;
                                         }
                                         if (a.filename > b.filename)
                                         {
                                           return 1;
                                         }
                                         return a.iid - b.iid;
                                       });
  
                    		for (var i = 0; i < data.data.length; i++)
                    		{
                          var image = data.data[i];
                          var id = image.iid;
                          if (image.status >= 6)
                          {
                            // status: completed
                            layerManager.addTileLayer(id, '/images/' + id, null, image.filename, image, false);
                          }
                          fileUploader
                            .append(image.filename
                                    + (image.status == 7 ?
                                       '' :
                                       ' (' + STATUS_MAP[image.status] + ')'),
                                    image.declaredFilesize,
                                    image.sourceFilesize,
                                    image.iid,
                                    image.sourceCRC32);
                    		}
                        layerManager.updateOrder();
                      },
                      query,
                      null,
                      'GET');
  //    //type: 'POST', //causes 412 error on refresh -_-
  
    return false;
  }

}

function rearrangeInterface()
{
  var nx = $('#nx').val();
  var ny = $('#ny').val();
  var display = $('#display').val();
  var width = display == 'matrix' ? null : parseInt(Math.max(100, 66 * nx / ny)) + '%';

  stacks.rearrange(nx, ny, width);
  layerManager.arrangeInterface();
}

function compressStacks()
{
  var images = layerManager.loadedImagesOrdered();
  stacks.rearrange(1, 1);
  for (var i = 0; i < images.length; i++)
  {
    if (!stacks.has(0, images[i]))
    {
      layerManager.load(0, images[i], true);
    }
  }
  layerManager.arrangeInterface();
  $('#nx').val(stacks.nx);
  $('#ny').val(stacks.ny);
}

function decompressStacks()
{
  var images = layerManager.loadedImagesOrdered();
  var nx = $('#nx').val();
  var ny = $('#ny').val();
  var nxCor = nx * ny < images.length ?
              parseInt(Math.ceil(images.length / ny)) :
              nx;
  var display = $('#display').val();
  var width = display == 'matrix' ?
              null :
              parseInt(Math.max(100, 66 * nxCor / ny)) + '%';
  layerManager.unloadAll();
  stacks.rearrange(nxCor, ny, width);
  for (var i = 0; i < images.length; i++)
  {
    //stacks.load also shall work
    layerManager.load(i, images[images.length - 1 - i], true);
  }

  layerManager.arrangeInterface();
  $('#nx').val(stacks.nx);
  $('#ny').val(stacks.ny);
}

// XXX: Some quick hacks

function saveUpdated()
{
  //TODO: move to layerManager or so...
  layerManager.images.saveUpdatedTiled();
}

function updatePixelSize()
{
  var ps = parseFloat($('#nps').val());
  layerManager.images.updateImage(null, null, null, ps);
}

function updateLeft()
{
  var nleft = parseFloat($('#nleft').val());
  layerManager.images.updateImage(null, nleft);
}

function updateTop()
{
  var ntop = parseFloat($('#ntop').val());
  layerManager.images.updateImage(null, null, ntop);
}

function updateStatus()
{
  var nstatus = parseInt($('#nstatus').val());
  layerManager.images.updateImageStatus(null, nstatus);
}

function centerImage(id)
{
  layerManager.images.apply(id, function(image, updateIfeace)
  {
    var info = image.info;
    var factor = -0.5 * info.pixelSize;
    var imageLeft = factor * info.imageWidth;
    var imageTop = factor * info.imageHeight;
    image.updateInfo(imageLeft, imageTop, null, null, updateIfeace);
  });
}

function resetImage(id)
{
  layerManager.images.apply(id, function(image, updateIface)
  {
    image.reset(updateIface);
  });
}

var loginConsole = null;
var uploadedFiles = null;
var fileUploader = null;
var images = null;
var stacks = null;

$(document).ready(function()
{
	loginConsole = new BrainSlices.ajax.CUserPanel(
            $('#userPanel'),
            $('#loginLink'),
            $('#logoutLink'),
	          function()
	          {
	            //$('#logoutLink').text('Logout [' +
	            //                      loginConsole.isLoggedAs() + ']');
              if (fileUploader != null)
              {
                fileUploader.listBatches();
              }
	          },
	          function()
            {
              if (fileUploader != null)
              {
                fileUploader.listBatches();
              }
            });
	
  uploadedFiles = new CUploadedImages($('#upload table.uploaded>tbody'));
  fileUploader = new CFileUploader($('#upload'), loginConsole, uploadedFiles);
  var nx = 1;
  var ny = 1;

  images = new BrainSlices.api.CImageManager(loginConsole);
  stacks = new BrainSlices.api.CSynchronizedStacksDisplay($('#sliceDisplay'), nx, ny,
                                          $('#controlPanel [name="synchronization"]:checked').length != 0,
                                          $('#controlPanel [name="zoom"]').val(),
                                          $('#x').val(), $('#y').val(),
                                          null, null,
                                          $('#controlPanel'),
                                          '/static/gfx', images);
  layerManager = new CLayerManager($('#controlPanel .layerList'), stacks,
                                   loginConsole, false, false, true, false);
  
});

  </script>

 </head>    
 <body style="margin: 0pt; height:100%;">
  <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden;">
   <div id="sliceDisplay">
   </div>
   <!--%controlPanel%-->
  </div>
	<!--<div id="dialog" title="Broken and duplicate uploads found!"></div>-->
  <!--%brokenDuplicatePanel%-->
  <!--%userPanel%-->
 </body>
</html>

