    <div id="batchSelection">
     Select a collection uploaded images will be added to.

     <div class="selectWrapper">
      <select id="newBatch">
       <option value="yes">New collection:</option>
       <option value="no">Existing collection:</option>
      </select>
      <input id="newBatchName" type="text" value="" placeholder="collection name">
      <select id="existingBatch">
      </select>
     </div>
    </div>

    <div id="fileUpload">
     <form action="upload" method="post" enctype="multipart/form-data" id="upload" onsubmit="return false;">
 
<!--
      <div class="batch">
       Batch:
       <select name="bid" id="batchId">
        <option selected="selected">None</option>
       </select>
		   <a id="batchDetails" href="javascript:void(0)">Refresh</a>
		 	<br/>
   
       <input id="newBatchComment" type="text" value="Batch comment..."><input id="newBatch" type="button" value="Create a new batch" />
      </div>
-->
  
      File: <input id="filesForUpload" type="file" multiple="multiple"/> <br/>
      <input type="checkbox" checked="checked" id="filterImageType"/> Filter image type <br/>
  
      <div class="uploadNew">
       <input id="uploadFiles" type="button" value="Upload" />
       <p class="ui-state-highlight" style="display: none;" id="upload_status_message"></p>
      </div>
     </form>
 
     <div id="uploadDiv">
      <table border class="uploaded">
       <thead>
        <tr>
         <th>
          Filename
         </th>
         <th>
          Size
         </th>
         <th>
          IID
         </th>
         <th>
          crc32
         </th>
        </tr>
       </thead>
       <tfoot>
       </tfoot>
       <tbody>
       </tbody>
      </table>
     </div>
    </div>
