
   <div id="personalDataDiv">
    <h1 class="personalDataDiv">Personal data</h1>

    <p>Hello <span class="userLogin"></span>, this is your personal data section.</p>

    <details>
     <summary class="personalDataDiv">
      Change password
      <span class="fa fa-angle-double-up"></span>
      <span class="fa fa-angle-double-down"></span>
     </summary>

     <form class="form" id="changePassword">
      <label for="oldPassword" class="left changePassword">Old password:</label>
      <input id="oldPassword" name="oldPassword" class="personalDataVals" type="password">
      <m id="oldPasswordFieldError" class="formErrorMessages"></m><br>
      <label for="newPassword" class="left changePassword">New password:</label>
      <input id="newPassword" name="newPassword" class="personalDataVals" type="password">
      <m id="newPasswordFieldError" class="formErrorMessages"></m><br>

			<details class="form">
       <!--%passwordStrength%-->
      </details>

      <label for="newPasswordRetype" class="left changePassword">Retype new password:</label>
      <input id="newPasswordRetype" name="newPasswordRetype" class="personalDataVals" type="password"> 
      <m id="newPasswordRetypeFieldError" class="formErrorMessages"></m><br>
      <br>
      <input id="changePasswordButton" type="submit" class="changePassword" value="Change password"/>
     </form>
    </details>

    <details>
     <summary class="personalDataDiv">
      Server usage
      <span class="fa fa-angle-double-up"></span>
      <span class="fa fa-angle-double-down"></span>
     </summary>
     <span id="userStatsRefresh" class="fa fa-refresh"></span>
     <table>
      <tr>
       <th>Files</th>
       <td id="userImageNumber"></td>
      </tr>
      <tr>
       <th>Disk usage</th>
       <td id="userDiskUsed"></td>
      </tr>
      <tr>
       <th>Disk usage limit</th>
       <td id="userDiskLimit"></td>
      </tr>
      <tr>
       <th>Pixels</th>
       <td id="userPixelUsed"></td>
      </tr>
      <tr>
       <th>Pixel limit</th>
       <td id="userPixelLimit"></td>
      </tr>
     </table>
    </details>
   </div>

