
   <div id="personalDataDiv">
    Hello, <span class="userLogin"></span>, this is your personal data section.

    <div id="changePassword">
     Old Password: <input id="oldPassword" class="personalDataVals" type="password">
     <m id="oldPasswordFieldError"></m><br>
     New Password: <input id="newPassword" class="personalDataVals" type="password">
     <m id="newPasswordFieldError" class="personalDataVals"></m><br>
     Retype new password: <input id="newPasswordRetype" class="personalDataVals" type="password"> 
     <br>
     <input id="changePasswordButton" type="button" value="Change password"/>
    </div>
   </div>

