#imageCart
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
/*  left: 50%;*/
/*  width: 524px;*/
  width: 0;
  box-sizing: border-box;

  border-left: 1px solid #CACACA;

  padding: 0;
  margin: 0;

  display: none;
}

#imageCartHeader
{
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  height: 30px;

  z-index: 1;
  overflow: hidden;

  text-align: center;
}

#cartHeaderToggle
{
  position: absolute;
  top: 0;
  left: 2px;
  margin: 0;
}

#emptyCart
{
  position: absolute;
  top: 0;
  right: 2px;
  margin: 0;
}

#emptyCart:hover
{
  background-color: #FF0000;
  border-color: #FFBBBB;
  color: #FFFFFF;
}

#foldAllCart
{
  padding-top: 1px;
  padding-bottom: 1px;
}

#layersConsoleTable
{
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 0;
}

/*
#layersConsoleTableHeader
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}*/


#layerList
{
  position: absolute;
  top: 0; /*25px*/
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: scroll;
/*  display: table;*/
}

#imageCartHeaderWrapper
{
  overflow-y: scroll;
}

#imageCartHeaderContent
{
  overflow: hidden;
}

div.layer-row,
#layersConsoleTableHeader
{
  border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
  margin: 1px 0;

  overflow: hidden;
/*  display: table-row;*/
}

#imageCartAllPanel
{
  /*display: inline-block;*/
  float: left;
  position: relative;
}

#loadAllWrapper
{
/*  position: relative;*/
  display: inline-block;
  vertical-align: top;
}

#loadAllPanelHeader:before
{
/*  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;*/
  content: "Loaded";
}

div.layer-row
{
  position: relative;
  min-height: 85px;
  box-sizing: border-box;
}

div.changed
{
  background: #FFEEEE !important; 
}

div.privilegeChanged
{
  background: #FFEEEE !important;
}

div.propertyChanged
{
  background: #FFEEEE !important;
}

li.propertyChanged
{
  background: #FFDDDD !important;
}

li.propertyNew
{
  background: #DDFFDD !important;
}

div.label-column,
div.visible-column
{
  display: inline-block;
  vertical-align: top;
}

div.label-column
{
  width: 384px;
}

div.visible-column
{
  text-align: center;
}

div.column-separator
{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  box-sizing: border-box;
  border-right: 1px solid #aaaaaa;
  right: 66px;
}

.thumbnail-only .label-column
{
  width: 84px;
}

.visible-column
{
  width: 65px;
}


#editMode
{
  padding-top: 1px;
  padding-bottom: 1px;
}

#editModeImageAnnotations
{
  padding: 1px 20px 1px 5px;
}

div.adjustPanel
{
  display: inline-block;
  /*float: left;*/
  text-align: left;
}

label.adjustPanelAdjust:after
{
  content: " adjust";
}

label.adjustPanelOffset:before
{
  content: "top left corner offset: ";
}

label.adjustPanelOffset:after
{
  content: " \00B5m";
}

select.adjustPanelRes,
input.adjustPanelRes,
input.adjustPanelLeft,
input.adjustPanelTop
{
  border: none;
  margin: 0;
  height: 22px;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input.adjustPanelRes,
input.adjustPanelLeft,
input.adjustPanelTop
{
  width: 80px;
  background: none;
  padding: 0 3px;
}

select.adjustPanelRes,
input.adjustPanelLeft
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

select.adjustPanelRes
{
  border-right: solid 1px #E5E5E5;
}

div.adjustPanelRes.selectWrapper
{
  border: solid 1px #E5E5E5;
}

div.adjustPanelRes.selectWrapper:hover
{
  border-color: #C9C9C9;
}

input.adjustPanelRes,
input.adjustPanelTop
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


label.adjustPanelRes
{
}

label.adjustPanelStatus:before
{
  content: "Status: ";
}

select.adjustPanelRes,
select.adjustPanelStatus
{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
}


div.brainslices-new-property-filter.fake-filter
{
  display: inline-block;
  width: 250px;
}


option.suggested-type
{
  background: #DDEEFF;
}



div.layer-cb-table
{
  display: table;

  border-spacing: 0;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
}

div.layer-cb-row
{
  display: table-row;
  border-bottom: none !important;
}

div.layer-cb-cell
{
  display: table-cell;

  text-align: center;
  vertical-align: middle;

  height: 20px;
  width: 20px;

  padding: 0 !important;
  margin: 0;
}

.layer-delete-button,
.layer-download-button,
.add-image-to-cart-button,
.remove-property-button
{
  color: #aaaaaa;
  font-size: 20px;
/*  padding: 5px;
  float: right;*/
/*  padding: 11px 5px;*/
}

.layer-delete-button,
.layer-download-button,
.add-image-to-cart-button
{
  display: block;
  position: absolute;
  top: 5px;
}

.layer-download-button
{
  right: 30px;
}

.layer-delete-button,
.add-image-to-cart-button
{
  right: 5px;
}

.description-buttons-placeholder
{
  height: 30px;
  width: 55px;
  float: right;
}

.remove-property-button
{
  margin: 5px;
}

.layer-delete-button:hover,
.remove-property-button:hover
{
  color: #ff0000;
}

.add-image-to-cart-button:hover,
.layer-download-button:hover
{
/*  color: #2d7dc5;*/
  color: #6ee000;
}

a.layer-download-button
{
  text-decoration: none;
}


#editPanel
{
 /* position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  height: 90px;*/
}

#layersConsoleTable.editPanel
{
  top: 130px; /* 90px + 40px */
}

li.image-details-edit
{
  list-style-type: none;
  text-align: left;
}

input.image-details-edit,
textarea.image-details-edit
{
  border-radius: 4px;
}

input.image-details-edit,
input.image-details-edit-enum
{
  padding: 0 3px;
}

div.image-details-edit-enum.selectWrapper
{
  vertical-align: middle;
  position: relative;
  padding-right: 20px;
}

input.image-details-edit-enum
{
  margin: 0;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input.image-details-edit-enum:hover,
input.image-details-edit-enum:focus
{
  border-color: #E5E5E5;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div.image-details-edit-enum-toggle
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent url("/static/gfx/unfold.png") no-repeat center center;
}
