#imageCart
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
/*  left: 50%;*/
/*  width: 524px;*/
  width: 0;
  box-sizing: border-box;

  border-left: 1px solid #CACACA;

  padding: 0;
  margin: 0;

  display: none;

/*  overflow-y: scroll;*/
}

#imageCartHeader
{
  position: relative;
  /*
  top: 0;
  left: 0;
  right: 0;*/
  height: 35px;

  /*z-index: 1;*/
  overflow: hidden;

  text-align: center;

  border-bottom: 1px solid #CACACA;
  box-sizing: border-box;

  background: #FFFFFF;
}

#imageCartBody
{
  position: relative;
  /*
  margin-top: 40px;
  margin-bottom: 30px;
  */
  /*top: 40px;
  bottom: 30px;
  left: 0;
  right: 0;*/
  overflow-y: scroll;

  /*z-index: 0;*/
}

#imageCartFooter
{
  position: relative;
  height: 33px;
  /*
  left: 0;
  right: 0;
  bottom: 0;
  */
  box-sizing: border-box;

  padding: 3px;
  text-align: right;
  /*overflow-y: scroll;*/
  /*z-index: 1;*/

  background: #FFFFFF;
  border-top: 1px solid #CACACA;
}

#cartHeaderToggle
{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

#emptyCart
{
  position: absolute;
  top: 0;
  right: 3px;
  margin: 0;
}

#emptyCart:hover
{
  background-color: #FF0000;
  border-color: #FFBBBB;
  color: #FFFFFF;
}

#foldAllCart
{
  padding-top: 1px;
  padding-bottom: 1px;
}

#layerList
{
  /*
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  */
  /*overflow-y: scroll;*/
  overflow: hidden;
}

#imageCartHeaderWrapper
{
  /*overflow-y: scroll;*/
  padding: 0 3px;
}

#imageCartHeaderContent
{
  overflow: hidden;
  position: relative;
  padding-top: 5px;
}

div.layer-row
{
  border/*-bottom*/: 1px solid #CACACA;
  /*border-top: 1px solid #aaaaaa;*/
  /*margin: 2px;*/
  border-radius: 4px;

  overflow: hidden;

  position: relative;
  min-height: 85px;
  box-sizing: border-box;
}

div.layer-row-wrapper
{
	padding: 1px 2px;
}

#imageCartAllPanel
{
  /*display: inline-block;*/
  float: left;
  position: relative;
}

#loadAllWrapper
{
/*  position: relative;*/
  display: inline-block;
  vertical-align: top;
}

#loadAllPanelHeader
{
  height: 37px; /*40 - 3*/
}

#loadAllPanelHeader:before
{
/*  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;*/
  content: "Loaded";
}

div.changed.adjustmentVisible,
div.statusChanged.managementVisible,
div.privilegeChanged.privilegesVisible,
div.propertyChanged.propertiesVisible
{
  background: #FFEEEE !important; 
}

/*
div.changed,
div.privilegeChanged,
div.propertyChanged
{
  border: solid 1px #CA0000 !important;
}
*/

li.propertyChanged
{
  background: #FFDDDD !important;
}

li.propertyNew
{
  background: #DDFFDD !important;
}

div.label-column,
div.visible-column
{
  display: inline-block;
  vertical-align: top;
}

div.label-column
{
  width: 384px;
}

div.visible-column
{
  text-align: center;
}

div.column-separator
{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  box-sizing: border-box;
  border-right: 1px solid #CACACA;
  right: 66px;
}

.thumbnail-only .label-column
{
  width: 84px;
}

.visible-column
{
  width: 65px;
}


#editMode
{
  padding-top: 1px;
  padding-bottom: 1px;
}

#editModeImageAnnotations
{
  padding: 1px 20px 1px 5px;
}


#adjustPanel
{
  text-align: left;
}

#centerPanel
{
  position: relative;
  float: left;
  width: 74px;
  height: 74px;
  margin: 3px 10px 5px 5px;
  border-radius: 8px;
}

a.centerPanelButton
{
  position: absolute;
  display: block;
  padding: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  left: 25px;
  top: 25px;
  border-radius: 0;
  box-sizing: border-box;

  background-image: url("/static/gfx/align.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

a.centerPanelButton.left
{
  left: 0;
  background-position: left center;
}

a.centerPanelButton.right
{
  left: 50px;
  background-position: right center;
}

a.centerPanelButton.top
{
  top: 0;
  background-position: center top;
}

a.centerPanelButton.bottom
{
  top: 50px;
  background-position: center bottom;
}

a.centerPanelButton.top.left
{
  border-top-left-radius: 8px;
  background-position: left top;
}

a.centerPanelButton.top.right
{
  border-top-right-radius: 8px;
  background-position: right top;
}

a.centerPanelButton.bottom.left
{
  border-bottom-left-radius: 8px;
  background-position: left bottom;
}

a.centerPanelButton.bottom.right
{
  border-bottom-right-radius: 8px;
  background-position: right bottom;
}

div.adjustPanel
{
  display: inline-block;
  /*float: left;*/
  text-align: left;
}

label.adjustPanelAdjust:after
{
  content: " adjust";
}

label.adjustPanelOffset:before
{
  content: "top left corner offset: ";
}

label.adjustPanelOffset:after
{
  content: " \00B5m";
}

select.adjustPanelRes,
input.adjustPanelRes,
input.adjustPanelLeft,
input.adjustPanelTop
{
  border: none;
  margin: 0;
  height: 22px;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input.adjustPanelRes,
input.adjustPanelLeft,
input.adjustPanelTop
{
  width: 80px;
  background: none;
  padding: 0 3px;
}

select.adjustPanelRes,
input.adjustPanelLeft
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

select.adjustPanelRes
{
  border-right: solid 1px #E5E5E5;
}

div.adjustPanelRes.selectWrapper
{
  border: solid 1px #E5E5E5;
}

div.adjustPanelRes.selectWrapper:hover
{
  border-color: #C9C9C9;
}

input.adjustPanelRes,
input.adjustPanelTop
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


label.adjustPanelRes
{
}

label.managementPanelStatus:before
{
  content: "Status: ";
}

select.adjustPanelRes,
select.managementPanelStatus
{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
}


div.brainslices-new-property-filter.fake-filter
{
  display: inline-block;
  width: 250px;
}


option.suggested-type
{
  background: #DDEEFF;
}



div.layer-cb-table
{
  display: table;

  border-spacing: 0;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
}

div.layer-cb-row
{
  display: table-row;
  border-bottom: none !important;
}

div.layer-cb-cell
{
  display: table-cell;

  text-align: center;
  vertical-align: middle;

  height: 20px;
  width: 20px;

  padding: 0 !important;
  margin: 0;
}

.layer-delete-button,
.layer-download-button,
.add-image-to-cart-button,
.remove-property-button,
.layer-reset-button
{
  color: #aaaaaa;
  font-size: 20px;
/*  padding: 5px;
  float: right;*/
/*  padding: 11px 5px;*/
}

.layer-delete-button,
.layer-download-button,
.add-image-to-cart-button,
.layer-reset-button
{
  display: block;
  position: absolute;
  top: 5px;
}

.layer-download-button,
.layer-reset-button
{
  right: 30px;
}

.layer-delete-button,
.add-image-to-cart-button
{
  right: 5px;
}

.description-buttons-placeholder
{
  height: 30px;
  width: 55px;
  float: right;
}

.remove-property-button
{
  margin: 5px;
}

.layer-delete-button:hover,
.remove-property-button:hover
{
  color: #ff0000;
}

.add-image-to-cart-button:hover,
.layer-download-button:hover
{
/*  color: #2d7dc5;*/
  color: #6ee000;
}

.layer-reset-button:hover
{
  color: #77AADD;
}

a.layer-download-button
{
  text-decoration: none;
}


#editPanel
{
 /* position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  height: 90px;*/
}

li.image-details-edit
{
  list-style-type: none;
  text-align: left;
}

input.image-details-edit,
textarea.image-details-edit
{
  border-radius: 4px;
}

input.image-details-edit,
input.image-details-edit-enum
{
  padding: 0 3px;
}

div.image-details-edit-enum.selectWrapper
{
  vertical-align: middle;
  position: relative;
  padding-right: 20px;
}

input.image-details-edit-enum
{
  margin: 0;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input.image-details-edit-enum:hover,
input.image-details-edit-enum:focus
{
  border-color: #E5E5E5;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div.image-details-edit-enum-toggle
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent url("/static/gfx/unfold.png") no-repeat center center;
}
