#imageCart
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  box-sizing: border-box;

  border-left: 1px solid #CACACA;

  padding: 0;
  margin: 0;

  display: none;
}

#imageCartHeader
{
  position: relative;
  height: 31px;

  overflow: hidden;

  text-align: center;

  border-bottom: 1px solid #CACACA;
  box-sizing: border-box;

  background: #FFFFFF;
}

#imageCartBody
{
  position: relative;
  overflow-y: scroll;
}

#imageCartFooter
{
  position: relative;
  height: 31px;
  box-sizing: border-box;

  padding: 2px 3px 4px 3px;
  text-align: right;
  /*overflow-y: scroll;*/
  /*z-index: 1;*/

  background: #FFFFFF;
  border-top: 1px solid #CACACA;
}

#cartHeaderToggle
{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 22px;
}

#emptyCart
{
  position: absolute;
  top: 0;
  right: 3px;
  margin: 0;
  height: 22px;
}

#emptyCart:hover
{
  background-color: #FF0000;
  border-color: #FFBBBB;
  color: #FFFFFF;
}

#foldAllCart
{
}

#layerList
{
  overflow: hidden;
}

#imageCartHeaderWrapper
{
  padding: 0 3px;
}

#imageCartHeaderContent
{
  overflow: hidden;
  position: relative;
  padding-top: 3px;
}

div.layer-row
{
  border: 1px solid #CACACA;
  border-radius: 4px;

  overflow: hidden;

  position: relative;
  min-height: 85px;
  box-sizing: border-box;
}

div.layer-row-wrapper
{
	padding: 1px 2px;
}

#imageCartAllPanel
{
  /*display: inline-block;*/
  float: left;
  position: relative;
}

#loadAllWrapper
{
/*  position: relative;*/
  display: inline-block;
  vertical-align: top;
}

#loadAllPanelHeader
{
  height: 37px; /*40 - 3*/
}

#loadAllPanelHeader:before
{
/*  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;*/
  content: "Loaded";
}

div.changed.adjustmentVisible,
div.statusChanged.managementVisible,
div.privilegeChanged.privilegesVisible,
div.propertyChanged.propertiesVisible
{
  background-color: #FFEEEE !important; 
}

div.delete.managementVisible,
div.statusChanged.delete.managementVisible
{
  background-image: url('/static/gfx/remove.png');
  background-repeat: repeat;
}

/*
div.changed,
div.privilegeChanged,
div.propertyChanged
{
  border: solid 1px #CA0000 !important;
}
*/

li.propertyChanged
{
  background: #FFDDDD !important;
}

li.propertyNew
{
  background: #DDFFDD !important;
}

div.label-column,
div.visible-column
{
  display: inline-block;
  vertical-align: top;
}

div.label-column
{
  width: 384px;
}

div.visible-column
{
  text-align: center;
}

div.column-separator
{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  box-sizing: border-box;
  border-right: 1px solid #CACACA;
  right: 66px;
}

.thumbnail-only .label-column
{
  width: 84px;
}

.visible-column
{
  width: 65px;
}


#editMode
{
}

#editModeImageAnnotations
{
  padding: 0 20px 0 5px;
  display: inline-block;
  height: 22px;
}


#adjustPanel
{
  text-align: left;
}

#centerPanel
{
  position: relative;
  float: left;
  width: 74px;
  height: 74px;
  margin: 3px 10px 5px 5px;
  border-radius: 8px;
}

a.centerPanelButton
{
  position: absolute;
  display: block;
  padding: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  left: 25px;
  top: 25px;
  border-radius: 0;
  box-sizing: border-box;

  background-image: url("/static/gfx/align.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

a.centerPanelButton.left
{
  left: 0;
  background-position: left center;
}

a.centerPanelButton.right
{
  left: 50px;
  background-position: right center;
}

a.centerPanelButton.top
{
  top: 0;
  background-position: center top;
}

a.centerPanelButton.bottom
{
  top: 50px;
  background-position: center bottom;
}

a.centerPanelButton.top.left
{
  border-top-left-radius: 8px;
  background-position: left top;
}

a.centerPanelButton.top.right
{
  border-top-right-radius: 8px;
  background-position: right top;
}

a.centerPanelButton.bottom.left
{
  border-bottom-left-radius: 8px;
  background-position: left bottom;
}

a.centerPanelButton.bottom.right
{
  border-bottom-right-radius: 8px;
  background-position: right bottom;
}

div.adjustPanel
{
  display: inline-block;
  /*float: left;*/
  text-align: left;
}

label.adjustPanelAdjust:after
{
  content: " adjust";
}

label.adjustPanelOffset:before
{
  content: "top left corner offset: ";
}

/*
label.adjustPanelOffset:after
{
  content: " \00B5m";
}
*/

select.resolution-widget-unit,
input.resolution-widget-ps,
input.offsetinput-widget-left,
input.offsetinput-widget-top,
select.offsetinput-widget-unit
{
  border: none;
  margin: 0;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input.resolution-widget-ps,
input.offsetinput-widget-left,
input.offsetinput-widget-top
{
  width: 80px;
  background: none;
}

select.resolution-widget-unit,
input.offsetinput-widget-left,
select.orderby-widget-field
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

select.resolution-widget-unit
{
  border-right: solid 1px #E5E5E5;
}

div.offsetinput-widget-wrapper,
div.resolution-widget-wrapper,
div.orderby-widget-wrapper
{
	display: inline-block;

	margin-bottom: 4px;
	margin-right: 4px;

	border: solid 1px #E5E5E5;
	border-radius: 4px;
	background: -webkit-gradient(linear, left top, left 61%, from(#EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF 61%);
  background: linear-gradient(top, #EEEEEE, #FFFFFF, 61%); 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
}

div.offsetinput-widget-wrapper:hover,
div.resolution-widget-wrapper:hover,
div.orderby-widget-wrapper:hover
{
  border-color: #C9C9C9;
	box-shadow: rgba(0,0,0,  0.15) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.15) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

input.resolution-widget-ps,
select.offsetinput-widget-unit,
select.orderby-widget-asc
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

select.offsetinput-widget-unit,
select.offsetinput-widget-unit:hover,
select.orderby-widget-field,
select.orderby-widget-field:hover,
select.orderby-widget-asc,
select.orderby-widget-asc:hover
{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

	padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

select.orderby-widget-asc,
select.orderby-widget-field
{
  margin: 0;
}

select.orderby-widget-field,
select.orderby-widget-field:hover
{
  border: none;
}

select.orderby-widget-asc,
select.orderby-widget-asc:hover
{
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: solid 1px #E5E5E5;
}

#orderPanel:before
{
  content: "Order by: ";
}

label.managementPanelStatus
{
  vertical-align: middle;
}

label.managementPanelStatus:before
{
  content: "Status: ";
}

select.resolution-widget-unit,
select.managementPanelStatus
{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3px;
}

.deleteImage.fa
{
  line-height: 20px;
  vertical-align: middle;
}

.deleteImage:hover,
.deleteImage.ui-state-active,
#deleteImagesButton:hover
{
  background-color: #FF0000;
  border-color: #FFBBBB;
  color: #FFFFFF;
}

.managementPanel,
.adjustPanel,
.privilegePanel
{
  margin-top: 5px;
}



div.layer-cb-table
{
  display: table;

  border-spacing: 0;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
}

div.layer-cb-row
{
  display: table-row;
  border-bottom: none !important;
}

div.layer-cb-cell
{
  display: table-cell;

  text-align: center;
  vertical-align: middle;

  height: 20px;
  width: 20px;

  padding: 0 !important;
  margin: 0;
}

.layer-delete-button,
.layer-download-button,
.add-image-to-cart-button,
.remove-property-button,
.layer-reset-button
{
  color: #aaaaaa;
  font-size: 20px;
  cursor: pointer;
/*  padding: 5px;
  float: right;*/
/*  padding: 11px 5px;*/
}

.layer-delete-button,
.layer-download-button,
.add-image-to-cart-button,
.layer-reset-button
{
  display: block;
  position: absolute;
}

.layer-download-button,
.add-image-to-cart-button,
.layer-reset-button
{
  top: 5px;
}

.layer-delete-button
{
  top: 3px;
}

.layer-download-button,
.layer-reset-button
{
  right: 30px;
}

.layer-delete-button,
.add-image-to-cart-button
{
  right: 5px;
}

.description-buttons-placeholder
{
  height: 30px;
  width: 55px;
  float: right;
}

.remove-property-button
{
  margin: 0 5px 4px 5px;
  vertical-align: middle;
}

.layer-delete-button:hover,
.remove-property-button:hover
{
  color: #ff0000;
}

.add-image-to-cart-button:hover,
.layer-download-button:hover
{
/*  color: #2d7dc5;*/
  color: #6ee000;
}

.layer-reset-button:hover
{
  color: #77AADD;
}

a.layer-download-button
{
  text-decoration: none;
}


label.image-url
{
  margin: 5px;
}

#editPanel
{
 /* position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  height: 90px;*/
}

li.image-details-edit
{
  list-style-type: none;
  text-align: left;
  margin-bottom: 2px;
}

ul.image-details-edit
{
  margin: 5px 5px 0 5px;
  padding: 0px;
}

input.image-details-edit,
textarea.image-details-edit
{
  border-radius: 4px;
  box-sizing: border-box;
}

input.image-details-edit
{
  height: 24px; /*+2px for border*/
  width: 252px; /*+2px for border*/
}

textarea.image-details-edit
{
  width: 100%;
  height: 20ex;
  resize: vertical;
}

div.image-details-edit-enum.selectWrapper
{
  vertical-align: middle;
  position: relative;
  padding-right: 20px;
}

input.image-details-edit-enum
{
  width: 230px;

  margin: 0;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input.image-details-edit-enum:hover,
input.image-details-edit-enum:focus
{
  border-color: #E5E5E5;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div.image-details-edit-enum-toggle
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: transparent url("/static/gfx/unfold.png") no-repeat center center;
}

#managePanel,
#privilegesPanel
{
  text-align: left;
  padding-left: 90px;
}

#propertyPanel
{
  text-align: left;
}

.brainslices-new-property-buttons
{
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px 4px 4px;
  /*border: 1px solid #F0F;*/
}

.brainslices-new-property-value
{
  /*border: 1px solid #F00;*/
}

div.brainslices-new-property-filter.fake-filter
{
  display: inline-block;
  vertical-align: middle;
  width: 250px;
}

option.suggested-type
{
  background: #DDEEFF;
}

div.add-property-panel
{
  margin: 5px;
}

button.brainslices-new-property-add-button,
button.brainslices-new-property-set-button,
button.brainslices-new-property-del-button
{
  border-radius: 4px;
  height: 22px;
  line-height: 19px;
}

button.brainslices-new-property-add-button
{
  margin: 0 2px 2px 0;
}

button.brainslices-new-property-add-button:after
{
  content: " Add";
}

button.brainslices-new-property-add-button:hover
{
  background-color: #309F30;
  border-color: #60B060;
  color: #FFFFFF;
}

button.brainslices-new-property-set-button
{
  margin: 0 0 2px 0;
}

button.brainslices-new-property-set-button:after
{
  content: " Set";
}

button.brainslices-new-property-del-button
{
  margin: 0;
  width: 100%;
}

button.brainslices-new-property-del-button:after
{
  content: " Remove";
}

button.brainslices-new-property-set-button:hover,
button.brainslices-new-property-del-button:hover
{
  background-color: #FF0000;
  border-color: #FF6060;
  color: #FFFFFF;
}

[draggable="true"]
{
  cursor: move;
}
