div.modalwin
{
/*  height:20xm;
  width:30em; */
  display: inline-block;
  text-align: left; 
  padding: 20px 20px 20px;
  border: 2px solid #CCC;
  border-radius: 15px;
  font-size: 14px;
  z-index: 96;
  background: #fff;
  color: #7F7F7F;
  position: relative;
}

.modalwin a
{
  color: #5080FF;
}

input.formButton
{
  color: #7F7F7F;
}

.modalwin>.title
{
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  border: 2px solid #CCC;
  border-radius: 12px;
  height: 22px;
  padding-right: 22px;
  text-align: center;
  font-size: 16px;
  color: gray;
 /* background: #CCC;*/
}

.modalwin .content
{
  margin-top: 10px;
  overflow-y: auto;
}

img.clickable_close
{
  position: absolute;
  right: 8px;
  top: 8px;
}

div.overlay
{
  padding-top: 10%;
  position: fixed;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  z-index: 999;
  background:rgba(0,0,0,0.1);
  text-align:center;
}

.formErrorMessages
{
  color: red;
}

form.form
{
  white-space: nowrap;
}

p.form,
details.form
{
  white-space: normal;
}

details.form
{
  margin-bottom: 5px;
  margin-left: 5px;
}

summary.form
{
  outline: none;
  padding: 0;
  color: #5080FF;
}

summary.form::-webkit-details-marker 
{
  display: none;
}

summary.form>.fa-angle-double-up
{
  display: none;
}

summary.form>.fa-angle-double-down
{
  display: inline-block;
  color: #7F7F7F;
}

details[open]>summary.form
{
  color: #7F7F7F;
}

details[open]>summary.form>.fa-angle-double-up
{
  display: inline-block;
}

details[open]>summary.form>.fa-angle-double-down
{
  display: none;
}

div.form
{
  padding: 2px 0;
  overflow: hidden;
}

label.left.form
{ 
  float:left;
  text-align:right;
  padding: 5px;
  /*margin: 2px;*/
  margin-right: 10px;
}

.form.formErrorMessages
{
  margin-left: 20px;
  max-width: 11.7em;
}

p.form
{
  margin-top: 1px;
  margin-bottom: 5px;
}

.form>p.form:first-of-type
{
  margin-right: 2px;
}

input.formField
{
  border-radius: 4px;
  width: 170px;
}

label.loginForm
{
  width: 6em;
}

.formErrorMessages.loginForm
{
  padding-left: 6em;
}


label.registerForm
{
  width: 10em;
}

.formErrorMessages.registerForm
{
  padding-left: 10em;
}

p.registerForm,
details.registerForm
{
  width: 24em;
}


label.regeneratePasswordForm
{
  width: 8em;
}

.formErrorMessages.regeneratePasswordForm
{
  padding-left: 8em;
}

p.regeneratePasswordForm
{
  width: 22em;
}


label.regeneratePasswordFinalForm
{
  width: 9em;
}

.formErrorMessages.regeneratePasswordFinalForm
{
  padding-left: 9em;
}

.success.regeneratePasswordFinalForm
{
  text-align: left;
}

p.regeneratePasswordFinalForm,
details.regeneratePasswordFinalForm
{
  width: 23em;
}


label.confirmationForm
{
  width: 9em;
}

.formErrorMessages.confirmationForm
{
  padding-left: 9em;
}

.success.confirmationForm
{
  text-align: left;
}

p.confirmationForm
{
  width: 23em;
}

.success
{
  background: #EEFFEE;
  border: 1px solid #AAFFAA;
  border-radius: 10px;
  padding: 5px;
  color: #000000;
  text-align: center;
  width: 30em;
}

.error
{
  background: #FFEEEE;
  border: 1px solid #FFAAAA;
  border-radius: 10px;
  padding: 5px;
  color: #000000;
  text-align: center;
  width: 30em;
}
