body
{
  font: 13px/20px Verdana, Tahoma, sans-serif;
  color: #7F7F7F;
  background: #FFFFFF;
}

body,
div
{
  margin: 0;
  padding: 0;
}

a
{
  color: #5080FF;
}

button,
.ui-button,
input[type=submit],
input[type=button]
{
  display: inline-block;
  padding: 1px 5px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 13px;
  color: #3C3C3D;
  /*text-shadow: 1px 1px 0 #FFFFFF;*/
  background: #ECECEC;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #CACACA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  position: relative;
  zoom: 1;
  line-height: 20px;

  -moz-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  height: 24px;
  box-sizing: border-box;
}

button.icon 
{
  width: 25px;

  text-align: center;
}

button:hover,
button.selected,
.ui-button:hover,
.ui-button.ui-state-hover,
.ui-button.selected,
input[type=submit]:hover,
input[type=button]:hover
{
  /*color: #FFFFFF;*/
  border-color: #CCDDEE;
  /*text-decoration: none;*/
  /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3);*/
  /*background-position: 0 -40px;*/
  background-color: #DDEEFF;
}

button:active
.ui-button.ui-state-active
{
  position: relative;
  top: 2px;
}

select,
input,
textarea
{
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/20px Verdana, Tahoma, sans-serif;
  color: #7F7F7F;

  margin-bottom: 4px;
  margin-right: 4px;

  box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
}

textarea
{
  padding: 5px;
}

input,
textarea
{
  background: -webkit-gradient(linear, left top, left 61%, from(#EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF 61%);
  background: linear-gradient(top, #EEEEEE, #FFFFFF, 61%);
}

input
{
  padding: 0 3px;
}

input[type=password],
input[type=text],
input[type=number]
{
  height: 22px;
}

select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 20px 0 5px;
  background: transparent url("/static/gfx/unfold.png") no-repeat right center;
  background-size: 20px, 8px;
}

select.selectWrapper,
select.selectWrapper:hover
{
  border: none;
  border-radius: 4px;
  margin: 0;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div.selectWrapper,
label.selectWrapper
{
  display: inline-block;
/*  vertical-align: middle;*/

  margin-bottom: 4px;
  margin-right: 4px;

  border: solid 1px #E5E5E5;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left 61%, from(#EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF 61%);
  background: linear-gradient(top, #EEEEEE, #FFFFFF, 61%);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
}


input:hover,
textarea:hover,
select:hover,
div.selectWrapper:hover,
label.selectWrapper:hover,
input:focus,
textarea:focus,
select:focus
{
  border-color: #C9C9C9;
  box-shadow: rgba(0,0,0,  0.15) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.15) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.ui-tooltip
{
  position: absolute;

  border: solid 1px #dddddd;
  border-radius: 4px;
  background: #ffffff;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;

  box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;

  z-index: 9999;
}

.ui-slider
{
  background: #dddddd;
  border: 1px solid #aaaaaa;
  border-radius: 4px;

  width: 10px;

  position: relative;
  text-align: left;

  display: block;
}

.ui-slider-range
{
  background: #69c6fd;
  border: 0;
  border-radius: 4px;

  width: 10px;

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
}

.ui-slider-handle
{
  border: 1px solid #888888;
  border-radius: 7px;
  /*background: #388AD4;*/
  background: #eeeeee;

  width: 14px;
  height: 14px;
  left: -3px;
  margin-left: 0;
  margin-bottom: -7px;

  position: absolute;

  display: block;
}

.ui-slider-handle:focus
{
  border: 1px solid #388AD4;
  background: #f0f0f0;

  outline: none;
  box-shadow:     0px 0px 2px 0px #388AD4;
  -moz-box-shadow:  0px 0px 2px 0px #388AD4;
  -webkit-box-shadow: 0px 0px 2px 0px #388AD4;
}

.ui-autocomplete
{
  border: solid 1px #dddddd;
  background: #ffffff;

  max-width: 210px;
  list-style-type: none;

  padding: 0;
  margin: 0;

  box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;

  z-index: 9999;
}

.ui-autocomplete li
{
  /*width: 100%;*/
  display: block;
  text-align: left;
}

.ui-autocomplete li.ui-autocomplete-category
{
  /*text-align: left;*/
  padding-left: 0.5em;
}

.ui-autocomplete li.ui-menu-item
{
  /*text-align: center;*/
  padding-left: 1em;
}

.ui-autocomplete li.ui-menu-item:hover
{
  font-size: bold;

  color: white;
  
  background: #2d7dc5;
}

.ui-helper-hidden-accessible
{
  order: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
}

#navbar
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 29px;
  padding: 2px 5px; /* 3px 4px;*/
  box-model: padding-box;
  z-index: 100;
  margin: 0;

  border-bottom: 1px solid #CACACA;
  box-sizing: border-box;
}

#main
{
  position: fixed;
  top: 29px;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;

  padding: 0;
  margin: 0;
}

#panels
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;

  padding: 0;
  margin: 0;
}

/*
::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button
{
  background: #ccc
}

::-webkit-scrollbar-track-piece
{
  background: #888
}

::-webkit-scrollbar-thumb
{
  background: #eee
}*/


#alertWindow .content
{
  width: auto;
}


.polaroid-image
{
  box-shadow: rgba(0,0,0,.25) 0 3px 6px;
  -moz-box-shadow: rgba(0,0,0,.25) 0 3px 6px;
  -webkit-box-shadow: rgba(0,0,0,.25) 0 3px 6px;

  border: 5px solid #FFFFFF;
  margin: 10px;
  display: block;
  background: #FFFFFF;
}


/* XXX: upload*/
.lmargin10
{
  margin-left: 10px;
}

.link
{
  color: #3b5998 !important;
  cursor: pointer;
  text-decoration: underline;
}

.hidden
{
  display: none;
}
