*
{
  font-family: Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

div.modalwin
{
/*  height:20xm;
  width:30em; */
  display: inline-block;
  text-align: left; 
  padding: 20px 20px 20px;
  border: 2px solid #CCC;
  border-radius: 15px;
  font-size: 14px;
  z-index: 101;
  background: #fff;
  color: #7F7F7F;
  position: relative;
}

.modalwin a
{
  color: #5080FF;
}

.modalwin input[type=submit],
.modalwin input[type=button]
{
  color: #7F7F7F;
}

img.clickable_close
{
  position: absolute;
  right: 8px;
  top: 8px;
}

div.overlay
{
  padding-top: 10%;
  position: absolute;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  z-index:3000;
  background:rgba(0,0,0,0.1);
  text-align:center;
}

.formErrorMessages
{
  color: red;
}

select, input, textarea
{ 
  padding: 5px;
/*  margin: 2px;*/
  border: solid 1px #E5E5E5;
  outline: 0;
  /*font: normal 1.1em/100% Verdana, Tahoma, sans-serif;*/
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
}

.form
{
  white-space: nowrap;
}

.form p
{
  white-space: normal;
}

.form div
{
  padding: 2px 0;
}

.form label.left
{ 
  float:left;
  text-align:right;
  padding: 5px;
  /*margin: 2px;*/
  margin-right: 10px;
}

.form .formErrorMessages
{
  margin-left: 20px;
  max-width: 11.7em;
}

.form p
{
  margin-top: 1px;
  margin-bottom: 5px;
}

.form input[type=password],
.form input[type=text]
{
  width: 11.7em;
}

form[name=loginForm] label
{
  width: 6em;
}

form[name=loginForm] .formErrorMessages
{
  padding-left: 6em;
}



form[name=registerForm] label
{
  width: 9em;
}

form[name=registerForm] .formErrorMessages
{
  padding-left: 9em;
}

form[name=registerForm]>p:first-of-type
{
  margin-right: 2px;
  max-width: 21.5em;
}

form[name=regeneratePasswordForm] label
{
  width: 3.5em;
}

form[name=regeneratePasswordForm] .formErrorMessages
{
  padding-left: 3.5em;
}

form[name=regeneratePasswordFinalForm] label
{
  width: 9em;
}

form[name=regeneratePasswordFinalForm] .formErrorMessages
{
  padding-left: 9em;
}

form[name=regeneratePasswordFinalForm] .success
{
  width: 20.5em;
  text-align: left;
}

form[name=confirmationForm] label
{
  width: 8em;
}

form[name=confirmationForm] .formErrorMessages
{
  padding-left: 8em;
}

form[name=confirmationForm] .success
{
  width: 19.5em;
  text-align: left;
}

.success
{
  background: #EEFFEE;
  border: 1px solid #AAFFAA;
  border-radius: 10px;
  padding: 5px;
  color: #000000;
  text-align: center;
  width: 30em;
}
