#search-panel
{
  border: 1px solid #aaaaaa;
}

#searchPanelDiv
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: 0;
}


#filtersWrapper,
#resultsWrapper,
#searchImageBasket
{
  box-sizing: border-box;
  /*
  padding: 5px;
  border: 1px solid red;*/
}


#filtersWrapper
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  width: 265px;

  display: none;
}

.filters-visible #filtersWrapper
{
  display: block;
}


#searchFiltersFold,
#searchFiltersUnfold,
#searchBasketFold,
#searchBasketUnfold
{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: auto;

  border-top: none;
  border-bottom: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0;
}

#searchFiltersFold
{
  display: none;
}

#searchFiltersUnfold
{
  border-left: none;
  display: block;
  left: 0;
}

#searchFiltersFold .fa-angle-double-left,
#searchFiltersUnfold .fa-angle-double-right,
#searchBasketUnfold .fa-angle-double-left,
#searchBasketFold .fa-angle-double-right
{
  position: absolute;
  top: 45%;
  bottom: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.filters-visible #searchFiltersFold
{
  left: 265px;
  display: block;
}

.filters-visible #searchFiltersUnfold
{
  display: none;
}


#resultsDiv
{
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  right: 0;
}

.filters-visible #resultsDiv
{
  left: 285px;
}


#resultsWrapper
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 20px;
}

#resultsWrapperHeader
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 31px;
  padding-top: 2px;
  padding-bottom: 2px;

  text-align: center;
  border-bottom: 1px solid #CACACA;
  box-sizing: border-box;
}

#searchResultsPaginator
{
  display: inline-block;
  line-height: 13px;
  font-size: 11px;
}

a.pager
{
  text-decoration: none;
}

/* FIXME: obsolete */
#searchBasketFold
{
  display: none;
  border-right: 0;
}

#searchBasketUnfold
{
  display: block;
  right: 0;
  border-right: 0;
}

.basket-visible #searchBasketFold
{
  display: block;
/*  left: 50%;*/
  right: 0;
  z-index: 1;
}

.basket-visible #searchBasketUnfold
{
  display: none;
}

#loadedFiltersWrapper
{
  position: absolute;
  top: 30px;
  bottom: 35px;
  height: auto;
  width: 100%;

  overflow-y: auto;
}

#loadedFilters
{
  min-height: 3px;
  overflow: hidden; /*WTF?*/
}


#newFilter
{
  overflow: hidden;
  position: relative;
}

#newFilter .brainslices-property-filter
{
  margin-right: 25px; /* 25 - 4 */
}

/*
#searchPropertySearch
{
  position: absolute;
  top: auto;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 25px;
  box-sizing: border-box;
}
*/

.filter-property-name
{
  position: relative;
  font-style: italic;
  overflow: hidden;
  padding: 5px 1px 1px 5px; /* 5 - 4 */
}

summary.filter-property-name
{
  outline: none;
  padding: 0;
  color: #5080FF;
  cursor: pointer;
}

summary.filter-property-name::-webkit-details-marker
{
  display: none;
}

.filter-property-name>.fa-angle-double-up,
.filter-property-name>.fa-angle-double-down
{
  color: #7F7F7F;
}

.filter-property-name>.fa-tag
{
  color: #808080;
}

.filter-property-name>.fa-angle-double-up,
.filter-property-name>.fa-angle-double-down,
.filter-property-name>.fa-tag
{
  width: 15px;
  margin-right: 5px;
}


summary.filter-property-name>.fa-angle-double-up
{
  display: none;
}

summary.filter-property-name>.fa-angle-double-down
{
  display: inline-block;
}


details[open]>summary.filter-property-name
{
  color: #7F7F7F;
}

details[open]>summary.filter-property-name>.fa-angle-double-up
{
  display: inline-block;
}

details[open]>summary.filter-property-name>.fa-angle-double-down
{
  display: none;
}


details.filter-property-info
{
  position: relative;
  padding: 4px 1px 1px 4px; /* 5 - 4 */
}

details.filter-property-info .brainslices-property-filter
{
  margin-top: 5px;
}

.filter-property-info
{
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 3px 2px;
}

#batchFilterDiv
{
  margin-bottom: 0;
}

#newFilterPanel
{
  margin-top: 0;
}

.new-property-name-input
{
  width: 120px;
}

.numeric-property-input
{
  width: 40px;
}

.text-property-input
{
  width: 210px;
}

.add-filter-button,
.filter-delete-button
{
  color: #aaaaaa;
  display: inline-block;
  text-decoration: none;
  margin-right: 4px;
  cursor: pointer;
}


.add-filter-button
{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 25px;
}

.add-filter-button:hover
{
  color: #6ee000;
}

.filter-delete-button
{
  font-size: 20px;
  float: right;
}

.filter-delete-button:hover
{
  color: #ff0000;
}


div.brainslices-new-property-filter
{
  position: relative;
  display: block;
  border: solid 1px #E5E5E5;
  border-radius: 4px;
  height: 44px;

  margin-bottom: 4px;
  margin-right: 4px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;

  background: -webkit-gradient(linear, left top, left 61%, from(#EEE), to(white));
  background: -moz-linear-gradient(top, #EEE, white 61%);
  background: linear-gradient(top, #EEEEEE, #FFFFFF, 61%);

}

div.brainslices-new-property-filter:hover,
div.brainslices-text-property-filter:hover,
div.brainslices-number-property-filter:hover,
div.brainslices-enum-property-filter:hover/*,
input.brainslices-new-property-filter-propertybox:hover,
input.brainslices-new-property-filter-propertybox:focus,
div.propertyboxsearch-toggle:hover,
div.propertyboxsearch-toggle:focus,
select.brainslices-new-property-filter-type:hover,
select.brainslices-new-property-filter-type:focus,
input.brainslices-text-property-filter:focus*/
{
  border-color: #C9C9C9;
  box-shadow: rgba(0,0,0,  0.15) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.15) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

div.brainslices-new-property-filter-propertybox
{
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
}

input.brainslices-new-property-filter-propertybox,
div.propertyboxsearch-toggle,
select.brainslices-new-property-filter-type
{
  box-sizing: border-box;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  font-size: 13px;
  line-height: 20px;
  height: 22px;

  border: none;
}

input.brainslices-new-property-filter-propertybox
{
  width: 100%;
  margin: 0;
  padding: 0 0 0 5px;
  border-right: 1px solid #E5E5E5;
  border-top-left-radius: 4px;
  background: transparent;
}

div.propertyboxsearch-toggle
{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;

  border-top-right-radius: 4px;
  text-align: center;

  background: transparent url("/static/gfx/unfold.png") no-repeat center center;
}

select.brainslices-new-property-filter-type
{
  position: absolute;
  padding: 0 20px 0 2px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: 1px solid #E5E5E5;
  margin: 0;

  width: 100%;
  left: 0;
  bottom: 0;
}

.brainslices-property-filter
{
  overflow: hidden;
}


div.brainslices-number-property-filter,
div.brainslices-text-property-filter,
div.brainslices-enum-property-filter
{
  position: relative;
  display: block;
  border: 1px solid #E5E5E5;
  border-radius: 4px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;

  background: -webkit-gradient(linear, left top, left 61%, from(#EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEEEEE, white 61%);
  background: linear-gradient(top, #EEEEEE, #FFFFFF, 61%);

  margin-right: 4px;
  margin-bottom: 4px;
}


/*numeric filter*/
.brainslices-number-property-filter
{
  height: 44px;
}

input.brainslices-number-property-filter-input,
select.brainslices-number-property-filter-select,
input.brainslices-text-property-filter
{
  box-sizing: border-box;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  font-size: 13px;
  line-height: 20px;
  height: 22px;

  padding-top: 0;
  padding-bottom: 0;

  /*border: 1px solid #E5E5E5;*/
  border: none;
  margin: 0;
}

div.brainslices-number-property-filter-select,
div.brainslices-number-property-filter-input
{
  position: absolute;
  top: 0;
  bottom: 0;
}

div.brainslices-number-property-filter-select
{
  left: 0;
  width: 158px; 
}

div.brainslices-number-property-filter-input
{
  left: 158px;
  right: 0;
}

select.brainslices-number-property-filter-select,
input.brainslices-number-property-filter-input
{
  /*position: absolute;
  bottom: 0;*/

  box-sizing: border-box;
  width: 100%;
}

select.brainslices-number-property-filter-select
{
  border-bottom-left-radius: 4px;
}

select.brainslices-number-property-filter-select:first-of-type
{
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
}

input.brainslices-number-property-filter-input
{
  border-bottom-right-radius: 4px;
  border-left: 1px solid #E5E5E5;
  /*border-left: none;*/
}

input.brainslices-number-property-filter-input:first-of-type
{
  border-bottom-right-radius: 0;
  border-top-right-radius: 4px;
}

select.brainslices-number-property-filter-select:first-of-type,
input.brainslices-number-property-filter-input:first-of-type
{
  /*
  bottom: auto;
  top: 0;
  */
  border-bottom: 1px solid #E5E5E5;
}


input.brainslices-number-property-filter-input,
input.brainslices-text-property-filter
{
  background: transparent;
  margin: 0;
}


div.brainslices-enum-property-filter
{
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  overflow-x: auto;
  width: auto;
}

label.brainslices-enum-property-filter
{
  white-space: nowrap;
}



/*text filter*/
input.brainslices-text-property-filter
{
  width: 100%;
  padding-left: 25px;
  border-radius: 4px;
}


span.fa-search.brainslices-text-property-filter
{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 30px;
  padding: 3px 5px;
  font-size: 14px;
  /*color: #7F7F7F;*/
  box-sizing: content-box;
}

div.brainslices-privilege-filter,
div.brainslices-batch-filter
{
  display: block !important;
}

select.brainslices-privilege-filter,
select.brainslices-batch-filter
{
  width: 100%;
  height: 22px;
  padding-top: 0;
  padding-bottom: 0;
}

.search-header-label
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  border-bottom: 1px solid #CACACA;

  background: #efefef;
  /*color: #69c6fd;*/

  font-weight: bold;
  font-size: 16px;

  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
/*  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;*/
  margin: 0px;

  text-align: center;
  box-sizing: border-box;
}

#searchResults 
{
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;
}

.search-row
{
  border: solid 1px #cacaca; /*#e5e5e5;*/
  padding: 0; /*50px 0 0;*/
  margin: /*0 2px 2px*/ 2px;
  border-radius: 4px;
}


div.image-details
{
  position: relative;
  overflow: hidden;
/*  padding-bottom: 25px;*/
}

div.image-details.folded
{
  height: 83px;
/*  padding-bottom: 0;*/
}

div.folder-wrapper
{
  position: static;
  overflow: hidden;

  padding: 0;
  border: 0;
  margin: 0;
}

div.folder-button
{
  position: relative;

  height: 20px;
  cursor: pointer;
  /*width: 70px;*/

  /*border: solid 1px #e5e5e5;*/
  /*border-radius: 4px;*/

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

div.folder-button.folded,
div.folder-button:before
{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 70px;

  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

div.folder-button:before
{
  padding: 1px 2px;
  content: "fold";
  border-top: solid 1px #e5e5e5;
  border-left: solid 1px #e5e5e5;
  text-align: center;

  background: -webkit-gradient(linear, left top, left 61%, from(#EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF 61%);
  background: linear-gradient(top, #EEEEEE, #FFFFFF, 61%);
}

div.folder-button.folded:before
{
  content: "unfold";
}


#addResultsToCart:hover,
#addResultsToCart.selected
{
  /*background-color: #66BB66;*/
  background-color: #309F30;
  border-color: #60B060;
  color: #FFFFFF;
}

#moveResultsToCart:hover,
#moveResultsToCart.selected
{
  /*background-color: #BB4242;*/
  background-color: #FF0000;
  border-color: #FF6060;
  color: #FFFFFF;
}

h1.image-details
{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

p.image-description.image-details
{
  text-align: left;
  white-space: pre-wrap;
  margin: 0 5px 5px 5px;
}

ul.image-details
{
  margin: 0 5px;
  padding: 0px;
}

li.image-details
{
  list-style-type: none;
  text-align: left;
  white-space: pre-wrap;
}

.polaroid-image.image-details
{
  float: left;
  margin: 3px 10px 5px 5px;
}

