div#visualisePanel
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

div.topLayer, div.tileLayer, div.outlineLayer, div.topmostLayer
{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

div.topmostLayer
{
  z-index: 1;
  opacity: 0;
}

div.tileLayer
{
  opacity: 0.8;
}

div.outlineLayer
{
  opacity: 0.5;
}

img.crosshair
{
  position: absolute;
  width: 101px;
  height: 101px;
}

div.scale, img.crosshair
{
  z-index: 0;
}

div.scale
{
  position: absolute;
  bottom: 2ex;
  left: auto;
  right: 2em;
  top: auto;
  text-align: right;
  color: #000000;
}

span.scale
{
  margin-right: 1em;
  padding: 2px 6px;
  background: rgba(192, 192, 192, 0.7);
}

img.scale
{
  margin: 0.5ex 0;
  height: 1mm;
  border: 1mm solid rgba(192, 192, 192, 0.7);
}

div.leftTileStack
{
  border-left: 1px solid #CACACA;
}

div.topTileStack
{
  border-top: 1px solid #CACACA;
}
