#uploadPanel
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

#czarownik,
#fileListDiv
{
/*  float: left;*/
  padding: 10px;
  display: inline-block;
  vertical-align: top;
/*  box-sizing: border-box;
  border: 1px solid red;*/
}

#czarownik
{
}

#fileListDiv
{
  overflow-y: auto;
}


#batchSelection,
#metadataUpload,
#fileSelection
{
/*  border: 1px solid green;*/
  margin-top: 10px;
  text-align: right;
}

#newBatch,
#newBatchName,
#existingBatch
{
  margin: 0;

  padding-top: 0;
  padding-left: 3px;
  padding-bottom: 0;

  height: 22px;
}

#newBatch,
#newBatchName,
#existingBatch,
#newBatch:hover,
#newBatchName:hover,
#existingBatch:hover
{
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



#newBatch,
#newBatch:hover
{
  border-right: solid 1px #E5E5E5;
}

#newBatchName
{
  padding-right: 3px;
}

#offsetUpload:before
{
  content: "top left corner offset: ";
}

/*#offsetUpload:after
{
  content: " \00B5m";
}*/

#notAllFilesIncluded
{
  color: #AA0000;
  white-space: pre-wrap;
}

#czarownikOverlay.overlay
{
  position: absolute;
}

.modalwin.broken-duplicate
{
  min-width: 350px;
}

.title.broken-duplicate
{
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  border: 2px solid #CCC;
  border-radius: 12px;
  height: 22px;
  padding-right: 22px;
  text-align: center;
  font-size: 16px;
  color: gray;
  white-space: nowrap;
 /* background: #CCC;*/
}

.content.broken-duplicate
{
}

li.broken-duplicate
{
  list-style-type: none;
  text-align: left;
  padding: 0;
}

ul.broken-duplicate
{
  margin: 0 0 5px 5px;
  padding: 0;
}

details.uploadAdvanced
{
  margin-bottom: 5px;
}

summary.uploadAdvanced
{
  /*background: #efefef;
  font-weight: bold;*/
  padding: 4px 4px;

  box-sizing: border-box;
  /*margin-bottom: 5px;*/

  text-align: right;

	/*border-radius: 4px;
  border: 1px #efefef solid;

  font-size: 16px;*/
  height: 30px;
  min-width: 400px;

  outline: none;
  cursor: pointer;

  color: #5080ff;
}

details[open]>summary.uploadAdvanced
{
  color: #7f7f7f;
}

summary.uploadAdvanced::-webkit-details-marker
{
  display: none;
}

summary.uploadAdvanced.fa-angle-double-up,
summary.uploadAdvanced.fa-angle-double-down
{
  color: #7F7F7F;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 3px;
  /*float: left;*/
}

span.uploadAdvanced.fa-angle-double-up
{
  display: none;
}

span.uploadAdvanced.fa-angle-double-down
{
  display: inline-block;
  color: #5080ff;
}

details[open]>summary>span.uploadAdvanced.fa-angle-double-up
{
  display: inline-block;
}

details[open]>summary>span.uploadAdvanced.fa-angle-double-down
{
  display: none;
}
