#czarownik,
#fileListDiv
{
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid red;
}

#czarownik
{
  top: 0;
  height: 200px;
}

#fileListDiv
{
  top: 200px;
  bottom: 0;
  overflow-y: auto;
}


#batchSelection,
#metadataUpload,
#fileSelection
{
  border: 1px solid green;
}

#newBatch,
#newBatchName,
#existingBatch
{
  margin: 0;

  padding-top: 0;
  padding-left: 3px;
  padding-bottom: 0;

  height: 22px;
}

#newBatch,
#newBatchName,
#existingBatch,
#newBatch:hover,
#newBatchName:hover,
#existingBatch:hover
{
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



#newBatch,
#newBatch:hover
{
  border-right: solid 1px #E5E5E5;
}

#newBatchName
{
  padding-right: 3px;
}

#offsetUpload:before
{
  content: "top left corner offset: ";
}

/*#offsetUpload:after
{
  content: " \00B5m";
}*/

#notAllFilesIncluded
{
  color: #AA0000;
  white-space: pre-wrap;
}

#czarownikOverlay.overlay
{
  position: absolute;
}
