#upload ul.uploads
{
  max-height: 10ex;
  overflow-y: auto;
}

#upload,
#uploadDiv
{
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
}

#uploadDiv
{
  left: 50%;
  right: 0;
  overflow-y: auto;
}

#upload
{
  left: 0;
  right: 50%;
}

#upload table.uploaded
{
/*  table-layout: fixed;*/
}

#batchSelection,
#metadataUpload,
#fileUpload
{
  position: absolute;
  left: 0;
  right: 0;
}

#batchSelection
{
  top: 0;
  height: 60px;
}

#metadataUpload
{
  top: 60px;
  height: 100px;
}

#fileUpload
{
  top: 160px;
  bottom: 0;
}

#newBatch,
#newBatchName,
#existingBatch
{
  margin: 0;

  padding-top: 0;
  padding-left: 3px;
  padding-bottom: 0;

  height: 22px;
}

#newBatch,
#newBatchName,
#existingBatch,
#newBatch:hover,
#newBatchName:hover,
#existingBatch:hover
{
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



#newBatch,
#newBatch:hover
{
  border-right: solid 1px #E5E5E5;
}

#newBatchName
{
  padding-right: 3px;
}

#offsetUpload:before
{
  content: "top left corner offset: ";
}

#offsetUpload:after
{
  content: " \00B5m";
}
