#personalDataDiv
{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h1.personalDataDiv,
summary.personalDataDiv
{
  background: #efefef;
  font-weight: bold;
  padding: 4px 0;

  box-sizing: border-box;
  margin-bottom: 5px;

  text-align: center;

	border-radius: 4px;
  border: 1px #efefef solid;
}

h1.personalDataDiv
{
  font-size: 20px;
  height: 35px;
}

summary.personalDataDiv
{
  font-size: 16px;
  height: 30px;
  padding-right: 29px;

  outline: none;
}


summary.personalDataDiv::-webkit-details-marker
{
  display: none;
}

summary.personalDataDiv>.fa-angle-double-up,
summary.personalDataDiv>.fa-angle-double-down
{
  color: #7F7F7F;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 3px;
  float: left;
}

summary.personalDataDiv>.fa-angle-double-up
{
  display: none;
}

summary.personalDataDiv>.fa-angle-double-down
{
  display: inline-block;
}

details[open]>summary.personalDataDiv>.fa-angle-double-up
{
  display: inline-block;
}

details[open]>summary.personalDataDiv>.fa-angle-double-down
{
  display: none;
}

label.changePassword
{
  width: 170px;
  display: inline-block;
  box-sizing: border-box;
}

input[type="submit"].changePassword
{
  margin-left: 180px;
}

input[type="password"].personalDataVals,
input[type="text"].personalDataVals
{
  border-radius: 4px;
}
