.cart {
    right: 0px;
    bottom: 0px;
    top: 70px;
    /*height: 100%;
    float: right;

    margin-bottom: 10px;*/

    position: fixed;
}

.cart>div
{
  float: left;
}

.cart #cart-table {
    height: 100%;

    border-spacing: 0;
    border-collapse: collapse;
}

.cart-controls-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0px;
    left: 0px;

    padding: 0px;
    z-index: 0;
}

.cart-controls {
    position: absolute;
    top: 50%;
    left: -2em;
    width: 2em;
    display: block;
}

.cart .fold-button {
    height: 2em;
    width: 2em;

    margin-right: 5px;
    margin-bottom: 2px;

    display: block;
}

.cart .fold-button-icon {
    font-weight: bold;
}

.cart .search-panel,
.cart .cart-items {
    height: 100%;
    position: relative;

    background: rgba(255, 255, 255, 0.935);

    padding: 0;
    margin: 0;

    vertical-align: top;
}

.cart .search-panel {
    width: 500px;
    z-index: 1;

}

.cart .cart-items {
    width: 400px;
    z-index: 1;
}
