.cart {
    right: 0;
    height: 93%;
    /*width: auto;*/
    float: right;
    position: absolute;
    background-color: #fafafa;
    border: solid thin #FF9900;
    
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.cart .fold-button-icon {
    font-weight: bold;
}

.cart-controls {
 
}

.cart-items {

}

.search_controls
{
    
}

.search-unfolded {
}

.search-items {
}

