.cart {
    right: 0;
    height: 92%;
    float: right;
    position: absolute;
}

.cart #cart-table {
    height: 100%;

    border-spacing: 0;
    border-collapse: collapse;
}

.cart-controls {
    vertical-align: middle;
}

.cart .fold-button {
    height: 2em;
    width: 2em;

    margin-right: 5px;
    margin-bottom: 2px;

    display: block;
}

.cart .fold-button-icon {
    font-weight: bold;
}

.cart .search-panel,
.cart .cart-items {
    height: 100%;

    background: rgba(255, 255, 255, 0.935);

    padding: 0;
    margin: 0;

    vertical-align: top;
}

.cart .search-panel {
    width: 500px;
}

.cart .cart-items {
    width: 400px;
}
