
#feedback { 
    font-size: 1.4em; 
}

.grid_view_table
{
    display: table;
    list-style-type: none; 
}

.grid_view_row
{
  display: table-row;
}

.grid_view_cell
{
    display: table-cell;
    /*margin: 2px; */
    float: left; 
    width: 25px; 
    height: 25px; 

    border: solid 1px #aaaaaa;
    background: #ffffff;
}

.grid_view_cell.current-table
{
    background: #7F7F7F;
}

.grid_view_cell.selected
{
    background: #A5B0FF;
}

.grid_view_cell.current-table.selected
{
    background: #5080FF;
}


.grid_view_float
{ 
/*  position:absolute;*/
  position: fixed;
  right: -60px;
  bottom: -60px;
  z-index:1000;
}

