
#feedback { 
    font-size: 1.4em; 
}

.grid_view_table
{
    display: table;
    list-style-type: none; 
}

.grid_view_row
{
  display: table-row;
}

.grid_view_cell
{
    display: table-cell;
    margin: 2px; 
    padding: 1px; 
    float: left; 
    width: 20px; 
    height: 20px; 
    font-size: 4em; 
    text-align: center;

    border: solid 1px #aaaaaa;
    background: #ffffff;
}

.grid_view_cell.current-table
{
    background: #dddddd;
}

.grid_view_cell.selected
{
    background: #69c6fd;
}


.grid_view_float
{ 
/*  position:absolute;*/
  position: fixed;
  right: 0;
  bottom: 0;
  z-index:1000;
}

