
#feedback { 
    font-size: 1.4em; 
}

#selectable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#selectable td { 
    margin: 3px; 
    padding: 1px; 
    float: left; 
    width: 40px; 
    height: 40px; 
    font-size: 4em; 
    text-align: center;

    border: solid 1px #aaaaaa;
    background: #ffffff;
}

#selectable .current-table {
    background: #dddddd;
}

#selectable .selected {
    background: #69c6fd;
}


.grid_view_float  { 
    position:absolute;
    z-index:1000;
}

