#layersConsole
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
/*  left: 50%;*/
/*  width: 524px;*/
  width: 0;

	border: 1px solid #aaaaaa;

	padding: 0;
	margin: 0;

  display: none;
}

/*
.basket-visible #layersConsole
{
  display: block;
}

.basket-visible #sliceDisplay
{
  right: 524px;
}
*/

#layersConsoleTable
{
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

#layersConsoleTable>div:first-of-type
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}


#layerList
{
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: scroll;
/*  display: table;*/
}

#layerList>div,
#layersConsoleTable>div:first-of-type
{
	border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
  margin: 1px 0;

  overflow: hidden;
/*  display: table-row;*/
}

#layerList>div
{
  position: relative;
  min-height: 85px;
  box-sizing: border-box;
}

#layerList>div>div,
#layersConsoleTable>div:first-of-type>div
{
	text-align: center;

	padding: 0;
	margin: 0;

  /*float: left;*/
  display: inline-block;
  vertical-align: top;
  /*display: table-cell;*/
}


.label-column
{
	width: 384px;
}

#layerList .label-column
{
/*  vertical-align: top;*/
}

.thumbnail-only .label-column
{
  width: 84px;
}

.visible-column
{
  width: 65px;
}

#layerList .visible-column
{
/*  vertical-align: top;*/
}

.adjust-column
{
	width: 55px;
}

#layerList .adjust-column
{
  padding-top: 30px !important;
}

.layer-cb-table
{
	border-spacing: 0;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
}

.layer-cb-table tr
{
	border-bottom: none !important;
}

.layer-cb-table td
{
	text-align: center;
	vertical-align: middle;

	height: 20px;
	width: 20px;

	padding: 0 !important;
	margin: 0;
}

.layer-delete-button,
.layer-download-button,
.add-image-to-cart-button
{
	color: #aaaaaa;
	font-size: 20px;
/*	padding: 5px;
  float: right;*/
/*  padding: 11px 5px;*/
  display: block;

  position: absolute;
  top: 5px;
}

.layer-download-button
{
  right: 30px;
}

.layer-delete-button,
.add-image-to-cart-button
{
  right: 5px;
}

.description-buttons-placeholder
{
  height: 30px;
  width: 55px;
  float: right;
}

.layer-delete-button:hover
{
	color: #ff0000;
}

.add-image-to-cart-button:hover,
.layer-download-button:hover
{
/*	color: #2d7dc5;*/
  color: #6ee000;
}

a.layer-download-button
{
  text-decoration: none;
}
