#imageCart
{
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
/*  left: 50%;*/
/*  width: 524px;*/
  width: 0;

  border: 1px solid #aaaaaa;

  padding: 0;
  margin: 0;

  display: none;
}

#imageCartHeader
{
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  height: 30px;

  text-align: center;
}

#emptyCart:hover,
#emptyCart.selected
{
  background-color: #FF0000;
  border-color: #FFBBBB;
  color: #FFFFFF;
}

#layersConsoleTable
{
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

#layersConsoleTableHeader
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}


#layerList
{
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: scroll;
/*  display: table;*/
}

div.layer-row,
#layersConsoleTableHeader
{
  border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
  margin: 1px 0;

  overflow: hidden;
/*  display: table-row;*/
}

div.layer-row
{
  position: relative;
  min-height: 85px;
  box-sizing: border-box;
}

div.label-column,
div.visible-column
{
  text-align: center;

  padding: 0;
  margin: 0;

  /*float: left;*/
  display: inline-block;
  vertical-align: top;
  /*display: table-cell;*/
}


.label-column
{
  width: 384px;
}

#layerList .label-column
{
/*  vertical-align: top;*/
}

.thumbnail-only .label-column
{
  width: 84px;
}

.visible-column
{
  width: 65px;
}

#layerList .visible-column
{
/*  vertical-align: top;*/
}

div.adjustPanel
{
  /*display: inline-block;*/
  /*float: left;*/
  text-align: left;
}

input.adjustPanel
{
  width: 80px;
}

div.layer-cb-table
{
  display: table;

  border-spacing: 0;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
}

div.layer-cb-row
{
  display: table-row;
  border-bottom: none !important;
}

div.layer-cb-cell
{
  display: table-cell;

  text-align: center;
  vertical-align: middle;

  height: 20px;
  width: 20px;

  padding: 0 !important;
  margin: 0;
}

.layer-delete-button,
.layer-download-button,
.add-image-to-cart-button
{
  color: #aaaaaa;
  font-size: 20px;
/*  padding: 5px;
  float: right;*/
/*  padding: 11px 5px;*/
  display: block;

  position: absolute;
  top: 5px;
}

.layer-download-button
{
  right: 30px;
}

.layer-delete-button,
.add-image-to-cart-button
{
  right: 5px;
}

.description-buttons-placeholder
{
  height: 30px;
  width: 55px;
  float: right;
}

.layer-delete-button:hover
{
  color: #ff0000;
}

.add-image-to-cart-button:hover,
.layer-download-button:hover
{
/*  color: #2d7dc5;*/
  color: #6ee000;
}

a.layer-download-button
{
  text-decoration: none;
}
