#btn_grid,
#target_select,
#quality_button
{
  float: left;
}

#navbar {
    height:50px;
    background-color:#fafafa;

    display: flex;
    z-index: 100;

    top: 0;
    left: 0;
    width: auto;
    border: 0px;

    margin: 0;
    padding: 10px;
}

#left {
    width: 80%;
    display: flex;
    float: left;

    margin: 0;
    padding: 0;
}

#right {
    text-align: right;
    width: 20%;
    float: right;

    margin: 0;
    padding: 0;
}

#zoom {
    position: absolute;
}

#trans {
    position: absolute;
}


.navbar button.icon {
    margin-left: 5px;
}

#btn_quality {
    font-weight: bold;
}

#spacer {
    width: 10px;
    float: left;
}

.navbar .grid {
    font-size: 7pt;
    letter-spacing: 1px;
    line-height: 70%;
}
