#navbar
{
  background-color: #fafafa;
  display: flex;
}

#navbarLeft,
#navbarRight,
#navbarMiddle,
#navbarVisualise
{
  margin: 0;
  padding: 0;
}

#navbarLeft
{
  float: left;
}

#navbarRight
{
  text-align: right;
  float: right;
}

#navbarMiddle
{
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}

#btn_grid,
#btn_synch,
#btn_display,
#btn_compress,
#btn_expand,
#navbar .spacer,
#btn_zoom,
#btn_trans,
#target_select,
#quality_button,
#btn_basket_visualise
{
  float: left;
}

#zoom {
  position: absolute;
}

#trans {
  position: absolute;
}


#navbar button.icon,
#navbar button.texticon
{
  height: 25px;
  margin-left: 3px;
  padding: 5px;
}

#navbar button.icon
{
  width: 25px;
}

#navbar button.texticon
{
  padding-left: 9px;
  padding-right: 9px;
}

#navbar button.texticon.icon
{
  padding-left: 0;
  width: auto;
}

#navbar button.texticon.icon .fa:before
{
  width: 25px;
  display: inline-block;
}

#btn_quality {
  font-weight: bold;
}

#navbar .spacer
{
  width: 6px;
  height: 25px; 
}

.navbar .grid {
  font-size: 6px;
  letter-spacing: 1px;
  line-height: 70%;
}
