.navbar {
    height:50px;
    background-color:#fafafa;

    display: flex;
    z-index: 100;

    top: 0;
    left: 0;
    width: auto;
    border: 0px;

    margin: 0;
    padding: 10px;
}

.navbar #left {
    width: 80%;
    display: flex;

    margin: 0;
    padding: 0;
}

.navbar #right {
    text-align: right;
    width: 20%;

    margin: 0;
    padding: 0;
}

.navbar #zoom {
    position: absolute;
}
.navbar #trans {
    position: absolute;
}


.navbar button.icon {
    margin-left: 5px;
}

.navbar #btn_quality {
    font-weight: bold;
}

.navbar #spacer {
    width: 10px;
}

.navbar .grid {
    font-size: 7pt;
    letter-spacing: 1px;
    line-height: 70%;
}
