#search-panel
{
  border: 1px solid #aaaaaa;
}

#searchPanelDiv
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

	margin: 0;
}


#filtersWrapper,
#resultsWrapper,
#searchImageBasket
{
  box-sizing: border-box;
  /*
  padding: 5px;
  border: 1px solid red;*/
}


#filtersWrapper
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  width: 265px;

  display: none;
}

.filters-visible #filtersWrapper
{
  display: block;
}


#searchFiltersFold,
#searchFiltersUnfold,
#searchBasketFold,
#searchBasketUnfold
{
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 20px;
  height: auto;
}

#searchFiltersFold
{
  display: none;
}

#searchFiltersUnfold
{
  display: block;
  left: 0;
}

#searchFiltersFold .fa-angle-double-left,
#searchFiltersUnfold .fa-angle-double-right,
#searchBasketUnfold .fa-angle-double-left,
#searchBasketFold .fa-angle-double-right
{
  position: absolute;
  top: 45%;
  bottom: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.filters-visible #searchFiltersFold
{
  left: 265px;
  display: block;
}

.filters-visible #searchFiltersUnfold
{
  display: none;
}


#resultsDiv
{
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  right: 0;
}

.filters-visible #resultsDiv
{
  left: 285px;
}


#resultsWrapper
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 20px;
}

.basket-visible #resultsWrapper
{
  right: 50%;
}


#searchImageBasket
{
  display: none;
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.basket-visible #searchImageBasket
{
  display: block;
  padding-left: 25px;
}


#searchBasketFold
{
  display: none;
}


#searchBasketUnfold
{
  display: block;
  right: 0;
}

.basket-visible #searchBasketFold
{
  display: block;
  left: 50%;
  z-index: 1;
}

.basket-visible #searchBasketUnfold
{
  display: none;
}



#loadedFiltersWrapper
{
  position: absolute;
  top: 35px;
  bottom: 35px;
  height: auto;
  width: 100%;
}

#loadedFiltersWrapper>div
{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#loadedFilters
{
  overflow: hidden; /*WTF?*/
}


#newFilter
{
  overflow: hidden;
}

#newFilter .brainslices-property-filter
{
  margin-right: 25px;
}

#searchPropertySearch
{
  position: absolute;
  top: auto;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 25px;
  box-sizing: border-box;
}

.filter-property-name
{
  position: relative;
	font-style: italic;
  overflow: hidden;
  padding: 5px 20px 5px 5px;
}

summary.filter-property-name
{
  outline: none;
  padding: 0;
}

summary.filter-property-name::-webkit-details-marker
{
  display: none;
}

summary.filter-property-name .fa-angle-double-up,
summary.filter-property-name .fa-angle-double-down
{
  color: #7F7F7F;
  margin-right: 5px;
}

summary.filter-property-name .fa-angle-double-up
{
  display: none;
}

summary.filter-property-name .fa-angle-double-down
{
  display: inline-block;
}

details summary.filter-property-name
{
  color: #5080FF;
}

details[open] summary.filter-property-name
{
  color: #7F7F7F;
}

details[open] summary.filter-property-name .fa-angle-double-up
{
  display: inline-block;
}

details[open] summary.filter-property-name .fa-angle-double-down
{
  display: none;
}


details.filter-property-info
{
  position: relative;
  padding: 5px;
}

details.filter-property-info .brainslices-property-filter
{
  margin-top: 5px;
}

.filter-property-name .fa-tag
{
  margin-right: 5px;
  color: #808080;
}

.filter-property-info
{
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 2px;
}


.new-property-name-input
{
	width: 120px;
}

.numeric-property-input
{
	width: 40px;
}

.text-property-input
{
	width: 210px;
}

.add-filter-button,
.filter-delete-button
{
	color: #aaaaaa;
	float: right;
	display: inline-block;
  text-decoration: none;
  position: absolute;
}


.add-filter-button
{
  bottom: 5px;
  right: 5px;
  font-size: 25px;
}

.add-filter-button:hover
{
	color: #6ee000;
}

.filter-delete-button
{
	top: 0;
  right: 0;
  font-size: 20px;
}

div>.filter-delete-button
{
  top: 5px;
  right: 5px;
}

.filter-delete-button:hover
{
	color: #ff0000;
}

.brainslices-new-property-filter
{
  position: relative;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  height: 60px;
/*  width: 210px;*/

  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
}

.brainslices-new-property-filter>select,
.brainslices-new-property-filter>input,
.brainslices-new-property-filter>div
{
  position: absolute;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 13px;
  line-height: 16px;
  height: 30px;

  border: 1px solid #E5E5E5;
}

.brainslices-new-property-filter>input,
.brainslices-new-property-filter>div
{
  background: transparent;
}

.brainslices-new-property-filter>input
{
  /*width: 190px;*/
  right: 20px;
  top: 0px;
  left: 0px;
  margin: 0;
  padding 2px;
  /*border-bottom-left-radius: 4px;*/
  border-bottom: none;
  border-top-left-radius: 4px;
}

.brainslices-new-property-filter>div
{
  top: 0px;
  right: 0px;
  /*left: 190px;*/
  width: 20px;
  border-top-right-radius: 4px;
  text-align: center;

  background: transparent url("/static/gfx/unfold.png") no-repeat center center;
  border-left: none;
  /*border-right: none;*/
  border-bottom: none;
}

.brainslices-new-property-filter>select
{
  padding: 2px 20px 2px 2px;
  /*border-top-right-radius: 4px;*/
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 0;
  /*width: 210px;*/
  left: 0;
  right: 0;
  bottom: 0;
}


.brainslices-new-property-filter>div>span
{
  vertical-align: middle;
}

.filter-property-info .brainslices-property-filter
{
  overflow: hidden;
}


.brainslices-number-property-filter,
.brainslices-text-property-filter,
.brainslices-enum-property-filter
{
  position: relative;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;

  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
}

.brainslices-number-property-filter>input,
.brainslices-number-property-filter>select,
.brainslices-text-property-filter>input
{
  box-sizing: border-box;
  box-shadow: none;
  font-size: 13px;
  line-height: 16px;
  height: 30px;

  border: 1px solid #E5E5E5;
}

.brainslices-number-property-filter>input,
.brainslices-text-property-filter>input
{
  background: transparent;
  margin: 0;
}

.brainslices-enum-property-filter
{
  border-radius: 4px;
  overflow-x: auto;
  width: auto;
}

.brainslices-enum-property-filter label
{
  white-space: nowrap;
}


/*numeric filter*/
.brainslices-number-property-filter
{
  height: 60px;
  /*width: 210px;*/
}

.brainslices-number-property-filter>input,
.brainslices-number-property-filter>select
{
  position: absolute;
}

.brainslices-number-property-filter>input
{
  /*width: 52px;*/
  left: 158px;
  right: 0;
  border-left: none;
}

.brainslices-number-property-filter>input:first-of-type
{
  top: 0;
  border-bottom: none;
  border-top-right-radius: 4px;
}

.brainslices-number-property-filter>input:last-of-type
{
  bottom: 0;
  border-bottom-right-radius: 4px;
}

.brainslices-number-property-filter>select
{
  width: 158px;
  /*right: 52px;*/
  left: 0;
}

.brainslices-number-property-filter>select:first-of-type
{
  top: 0;
  border-bottom: none;
  border-top-left-radius: 4px;
}

.brainslices-number-property-filter>select:last-of-type
{
  bottom: 0;
  border-bottom-left-radius: 4px;
}


/*text filter*/
.brainslices-text-property-filter>input
{
  margin: 0;
  width: 100%;
  padding-left: 25px;
  border-radius: 4px;
}


.brainslices-text-property-filter>span.fa-search
{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 30px;
  padding: 8px 5px;
  font-size: 14px;
  /*color: #7F7F7F;*/
  box-sizing: content-box;
}

.search-header-label
{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 30px;

	background: #efefef;
	/*color: #69c6fd;*/

	font-weight: bold;
  font-size: 16px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
/*	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 0;*/
  margin: 0px;

	text-align: center;
  box-sizing: border-box;
}

.search-content-wrapper 
{
  position: absolute;
  top: 40px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;

  box-sizing: border-box;

	overflow-x: hidden;
	overflow-y: scroll;
}

.search-content-wrapper>div
{
  border: solid 1px #e5e5e5;
  padding: 0; /*50px 0 0;*/
  position: relative;
  overflow: hidden;
}

.search-content-wrapper>div.folded
{
  height: 83px;
/*  padding-bottom: 0px;*/
}

.search-content-wrapper>div.unfolded
{
  padding-bottom: 20px;
}

.search-content-wrapper>div>div.folding-button,
.search-content-wrapper>div>div.unfolding-button
{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 20px;
  width: 70px;

  border-top: solid 1px #e5e5e5;
  border-left: solid 1px #e5e5e5;
  border-top-left-radius: 4px;
  text-align: center;
  padding: 2px;

  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
}

.search-content-wrapper>div>div.folding-button:before
{
  content: "fold";
}

.search-content-wrapper>div>div.unfolding-button:before
{
  content: "unfold";
}

div.folding-button,
div.unfolding-button
{
  display: none;
}

.unfolded>div.folding-button,
.folded>div.unfolding-button
{
  display: block;
}

.search-content-wrapper>div>h1
{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.search-content-wrapper>div>p.image-description
{
  text-align: left;
  margin: 0 0 5px 0;
}

#searchResults>div>span.add-image-to-cart-button
{
  float: right;
  padding: 11px 5px;
  display: block;
	color: #aaaaaa;
	font-size: 20px;
}

#searchResults>div>span.add-image-to-cart-button:hover
{
	color: #6ee000;
}

#searchImageBasketList>div>span.layer-delete-button
{
  float: right;
  padding: 11px 5px;
  display: block;
}

.search-content-wrapper>div>ul
{
  margin: 0px;
  padding: 0px;
}

.search-content-wrapper>div>ul>li
{
  list-style-type: none;
  text-align: left;
}

.search-content-wrapper .polaroid-image
{
  float: left;
  margin: 3px 10px 5px 3px;
}


#searchImageBasket .search-header-label
{
  left: 25px;
}

#searchImageBasketList
{
  position: absolute;
  top: 40px;
  bottom: 5px;
  height: auto;
  left: 25px;
  right: 5px;
  width: auto;
}
