#search-panel
{
  border: 1px solid #aaaaaa;
}

.searchPanelDiv {
  position: absolute;
  top: 1em;
  left: 1em;
  bottom: 1em;
  right: 1em;

	margin: 0;
}

.search-content-wrapper
{
  position: absolute;
  top: 3.5ex;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

  box-sizing: border-box;

  overflow-y: auto;
  /*overflow-y: scroll;*/
}

.search-header-label
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 3.5ex;

	background: #efefef;
	color: #69c6fd;

	font-weight: bold;
/*	font-size: 14pt;*/

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
/*	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 0;*/
  margin: 0px;

	text-align: center;
  box-sizing: border-box;
}

#filtersWrapper
{
  position: relative;
  height: 50%;
  /*
  position: absolute;
  top: 0px;
  bottom: 50%;
  left: 0px;
  right: 0px;
  */
}

#loadedFiltersHeader
{
  position: absolute;
  top: 3.5ex;
  left: 0px;
  right: 0px;
  bottom: auto;
  height: 3.5ex;
}

#loadedFiltersWrapper
{
  position: absolute;
  top: 7ex;
  bottom: 7ex;
  height: auto;
  width: 100%;
}

#loadedFiltersWrapper>div
{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#loadedFilters
{
  overflow: hidden; /*WTF?*/
}

#newFilter
{
  position: absolute;
  top: auto;
  bottom: 3.5ex;
  height: 3.5ex;
}

#searchPropertySearch
{
  position: absolute;
  top: auto;
  bottom: 0;
  height: 3.5ex;
}


#resultsWrapper
{
  position: absolute;
  /*top: 50%;*/
  height: 50%;
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

div.property-column,
div.condition-column
{
  float: left;
  /*display: inline-block;*/
}

div.property-column
{
	width: 13em;
}

div.condition-column
{
	width: 26em;
}

.filter-property-name
{
	font-style: italic;

	/*width: 170px;*/
}

.filter-property-info
{
	width: 200px;
}

.new-property-name-input
{
	width: 120px;
}

/*********************************************************/
/*  .select-property no longer exists  */
.select-property {
	height: 28px;
	width: 120px;
}

.select-property input {
	width: 80px;

	border-right: none;
}

.select-property .propertyboxsearch-toggle {
	width: 17px;
	height: 25px;

	margin-top: -1px;
	margin-left: 0px;

	border: solid 1px #e5e5e5;
	border-left: none;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;

	text-align: center;
	vertical-align: middle;

	/*display: table-cell;*/
	display: inline-block;
}

.select-property .propertyboxsearch-toggle span {
	margin-top: 5px;
	margin-bottom: 5px;
}

.property-type-select {
	width: 80px;
}

.brainslices-propertyfilter {
	display: inline !important;
}

.numeric-property-input {
	width: 40px;
}

.text-property-input {
	width: 210px;
}

.addFilterButton,
.add-filter-button,
.filter-delete-button {
	color: #aaaaaa;

	float: right;

	display: inline-block;
}


.add-filter-button,
.addFilterButton {
	font-size: 25px;

	padding: 5px;
/*	padding-right: 20px;*/
}

.addFilterButton:hover {
	color: #6ee000;
}

.filter-delete-button {
	font-size: 25px;

	padding: 5px;
	/*padding-right: 20px;*/
}

.filter-delete-button:hover {
	color: #ff0000;
}

.brainslices-new-property-filter
{
  white-space: nowrap;
  position: relative;
  display: block;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  /*
  display: inline-block;
  padding-right: 2.2em; */

  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
}

.brainslices-new-property-filter>select,
.brainslices-new-property-filter>input,
.brainslices-new-property-filter>div
{
  /*
  line-height: 16pt;
  font-height: 14pt;
  height: 16pt;*/
  box-sizing: border-box;
  box-shadow: none;
  font-size: 13px;
  line-height: 16px;
  height: 5ex;

  border: 1px solid #E5E5E5;
}

.brainslices-new-property-filter>input,
.brainslices-new-property-filter>div
{
  background: transparent;
}

.brainslices-new-property-filter>input
{
  width: 10em;
  margin: 0 2em 0 0;
  padding 2px 2px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.brainslices-new-property-filter>div
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 10em;
  width: 2em;
  height: auto;
  right: auto;
  text-align: center;

  background: transparent url("/static/gfx/unfold.png") no-repeat center center;
  border-left: none;
  border-right: none;
}

.brainslices-new-property-filter>select
{
  padding: 2px 20px 2px 2px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0;
  width: 9em;
}


.brainslices-new-property-filter>div>span
{
  vertical-align: middle;
}

.brainslices-property-filter>div
{
  display: inline-block;
/*  margin-right: 1em;*/
}

.brainslices-property-filter .brainslices-number-property-filter,
.brainslices-property-filter .brainslices-text-property-filter,
.brainslices-property-filter .brainslices-enum-property-filter
{
  white-space: nowrap;
  position: relative;
  display: block;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  /*
  display: inline-block;
  padding-right: 2.2em; */

  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
}

.brainslices-property-filter .brainslices-enum-property-filter
{
  border-radius: 4px;
}

/*numeric filter*/
.brainslices-property-filter .brainslices-number-property-filter>input
{
  width: 4em;
}

.brainslices-property-filter .brainslices-number-property-filter>input:last-of-type
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.brainslices-property-filter .brainslices-number-property-filter>select
{
  width: 5em;
}

.brainslices-property-filter .brainslices-number-property-filter>select:first-of-type
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/*text filter*/
.brainslices-property-filter input[type="text"]
{
  border-radius: 4px;
}


#searchPropertySearch {
	width: 100%;

/*	font-weight: bold;
	font-size: 12px;*/
  box-sizing: border-box;
}

#searchResults {
	/*height: 480px;*/
	overflow-x: hidden;
	/*overflow-y: auto;*/
}

#searchResults table
{
	width: 100%;

	border-spacing: 0;
  border-collapse: collapse;
}

#searchResults table td
{
	vertical-align: middle;
	text-align: center;

	padding: 5px;
	margin: 0;
  position: relative;
}

#searchResults table td .folded
{
  overflow: hidden;
  height: 80px;
}

#searchResults table td .folded:after
{
  content: "more";
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#searchResults table td .unfolded:after
{
  content: "hide";
}

#searchResults table td ul
{
  margin: 0px;
  padding: 0px;
}

#searchResults table td ul li
{
  list-style-type: none;
  text-align: left;
}

#searchResults .polaroid-image
{
/*	margin-left: auto;
	margin-right: auto;*/
  float: left;
  margin: 0 5px 5px 0;
}

.add-image-to-cart-button {
	color: #aaaaaa;

	font-size: 30px;

	padding: 5px;
}

.add-image-to-cart-button:hover {
	color: #6ee000;
}
