#search-panel
{
  border: 1px solid #aaaaaa;
}

.searchPanelDiv {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;

	margin: 0;
}

.search-content-wrapper
{
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

  box-sizing: border-box;

  overflow-y: auto;
  /*overflow-y: scroll;*/
}

.search-header-label
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;

	background: #efefef;
	color: #69c6fd;

	font-weight: bold;
  font-size: 16px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
/*	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 0;*/
  margin: 0px;

	text-align: center;
  box-sizing: border-box;
}

#filtersWrapper
{
  position: relative;
  height: 50%;
  /*
  position: absolute;
  top: 0px;
  bottom: 50%;
  left: 0px;
  right: 0px;
  */
}

#loadedFiltersHeader
{
  position: absolute;
  top: 35px;
  left: 0px;
  right: 0px;
  bottom: auto;
  height: 25px;
}

#loadedFiltersWrapper
{
  position: absolute;
  top: 60px;
  bottom: 110px;
  height: auto;
  width: 100%;
}

#loadedFiltersWrapper>div
{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#loadedFilters
{
  overflow: hidden; /*WTF?*/
}

#newFilter
{
  position: absolute;
  top: auto;
  bottom: 35px;
  height: 75px;
}

#searchPropertySearch
{
  position: absolute;
  top: auto;
  bottom: 5px;
  height: 25px;
}


#resultsWrapper
{
  position: absolute;
  /*top: 50%;*/
  height: 50%;
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

div.property-column,
div.condition-column
{
  float: left;
  /*display: inline-block;*/
}

div.property-column
{
	width: 210px;
}

div.condition-column
{
	width: 270px;
}

.filter-property-name
{
	font-style: italic;

	/*width: 170px;*/
}

.filter-property-info
{
	width: 200px;
}

.new-property-name-input
{
	width: 120px;
}

/*********************************************************/
/*  .select-property no longer exists  */
.select-property {
	height: 28px;
	width: 120px;
}

.select-property input {
	width: 80px;

	border-right: none;
}

.select-property .propertyboxsearch-toggle
{
	width: 17px;
	height: 25px;

	margin-top: -1px;
	margin-left: 0px;

	border: solid 1px #e5e5e5;
	border-left: none;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;

	text-align: center;
	vertical-align: middle;

	/*display: table-cell;*/
	display: inline-block;
}

.select-property .propertyboxsearch-toggle span {
	margin-top: 5px;
	margin-bottom: 5px;
}

.property-type-select {
	width: 80px;
}

.brainslices-propertyfilter {
	display: inline !important;
}

.numeric-property-input {
	width: 40px;
}

.text-property-input {
	width: 210px;
}

.add-filter-button,
.filter-delete-button {
	color: #aaaaaa;
	float: right;
	display: inline-block;
}


.add-filter-button
{
	font-size: 25px;

	padding: 5px;
/*	padding-right: 20px;*/
}

.add-filter-button:hover
{
	color: #6ee000;
}

.filter-delete-button
{
	font-size: 25px;
	padding: 5px;
	/*padding-right: 20px;*/
}

.filter-delete-button:hover {
	color: #ff0000;
}

.brainslices-new-property-filter
{
  white-space: nowrap;
  position: relative;
  display: block;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  height: 60px;
  width: 200px;

  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
}

.brainslices-new-property-filter>select,
.brainslices-new-property-filter>input,
.brainslices-new-property-filter>div
{
  position: absolute;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 13px;
  line-height: 16px;
  height: 30px;

  border: 1px solid #E5E5E5;
}

.brainslices-new-property-filter>input,
.brainslices-new-property-filter>div
{
  background: transparent;
}

.brainslices-new-property-filter>input
{
  width: 180px;
  top: 0px;
  left: 0px;
  margin: 0;
  padding 2px;
  /*border-bottom-left-radius: 4px;*/
  border-bottom: none;
  border-top-left-radius: 4px;
}

.brainslices-new-property-filter>div
{
  top: 0px;
  right: 0px;
  left: 180px;
  border-top-right-radius: 4px;
  text-align: center;

  background: transparent url("/static/gfx/unfold.png") no-repeat center center;
  border-left: none;
  /*border-right: none;*/
  border-bottom: none;
}

.brainslices-new-property-filter>select
{
  padding: 2px 20px 2px 2px;
  /*border-top-right-radius: 4px;*/
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 0;
  width: 200px;
  left: 0;
  right: 0;
  bottom: 0;
}


.brainslices-new-property-filter>div>span
{
  vertical-align: middle;
}

.brainslices-property-filter>div
{
  display: inline-block;
/*  margin-right: 1em;*/
}

.brainslices-property-filter .brainslices-number-property-filter,
.brainslices-property-filter .brainslices-text-property-filter,
.brainslices-property-filter .brainslices-enum-property-filter
{
/*  white-space: nowrap;*/
  position: relative;
  display: block;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;

  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
}

.brainslices-property-filter .brainslices-number-property-filter>input,
.brainslices-property-filter .brainslices-number-property-filter>select,
.brainslices-property-filter .brainslices-text-property-filter>input
{
  box-sizing: border-box;
  box-shadow: none;
  font-size: 13px;
  line-height: 16px;
  height: 30px;

  border: 1px solid #E5E5E5;
}

.brainslices-property-filter .brainslices-enum-property-filter
{
  border-radius: 4px;
  max-width: 235px;
  max-height: 60px;
  overflow-x: auto;
  overflow-y: auto;
}

.brainslices-property-filter .brainslices-enum-property-filter label
{
  white-space: nowrap;
}

/*numeric filter*/
.brainslices-property-filter .brainslices-number-property-filter>input
{
  width: 52px;
  border-left: none;
}

.brainslices-property-filter .brainslices-number-property-filter>input:first-of-type
{
  border-right: none;
}

.brainslices-property-filter .brainslices-number-property-filter>input:last-of-type
{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.brainslices-property-filter .brainslices-number-property-filter>select
{
  width: 65px;
}

.brainslices-property-filter .brainslices-number-property-filter>select:first-of-type
{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/*text filter*/
.brainslices-property-filter .brainslices-text-property-filter>input
{
  margin: 0;
  width: 234px;
  border-radius: 4px;
}


#searchPropertySearch {
	width: 100%;

/*	font-weight: bold;
	font-size: 12px;*/
  box-sizing: border-box;
}

#searchResults {
	/*height: 480px;*/
	overflow-x: hidden;
	overflow-y: scroll;
}

#searchResults>div
{
  border: solid 1px #e5e5e5;
  padding: 0; /*50px 0 0;*/
  position: relative;
  overflow: hidden;
}

#searchResults>div.folded
{
  height: 83px;
/*  padding-bottom: 0px;*/
}

#searchResults>div.unfolded
{
  padding-bottom: 20px;
}

#searchResults>div>div.folding-button,
#searchResults>div>div.unfolding-button
{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 20px;
  width: 70px;

  border-top: solid 1px #e5e5e5;
  border-left: solid 1px #e5e5e5;
  border-top-left-radius: 4px;
  text-align: center;
  padding: 2px;

  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
}

#searchResults>div>div.folding-button:before
{
  content: "fold";
}

#searchResults>div>div.unfolding-button:before
{
  content: "unfold";
}

#searchResults>div>h1
{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

#searchResults>div>p.image-description
{
  text-align: left;
  margin: 0 0 5px 0;
}

#searchResults>div>span.add-image-to-cart-button
{
  float: right;
  padding: 11px 5px;
  display: block;
	color: #aaaaaa;
	font-size: 25px;
}

#searchResults>div>span.add-image-to-cart-button:hover
{
	color: #6ee000;
}

#searchResults>div>ul
{
  margin: 0px;
  padding: 0px;
}

#searchResults>div>ul>li
{
  list-style-type: none;
  text-align: left;
}

#searchResults .polaroid-image
{
/*	margin-left: auto;
	margin-right: auto;*/
  float: left;
  margin: 3px 10px 5px 3px;
}

