#search-panel
{
  border: 1px solid #aaaaaa;
}

#searchPanelDiv
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: 0;
}


#filtersWrapper,
#resultsWrapper,
#searchImageBasket
{
  box-sizing: border-box;
  /*
  padding: 5px;
  border: 1px solid red;*/
}


#filtersWrapper
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  width: 265px;

  display: none;
}

.filters-visible #filtersWrapper
{
  display: block;
}


#searchFiltersFold,
#searchFiltersUnfold,
#searchBasketFold,
#searchBasketUnfold
{
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 20px;
  height: auto;
}

#searchFiltersFold
{
  display: none;
}

#searchFiltersUnfold
{
  display: block;
  left: 0;
}

#searchFiltersFold .fa-angle-double-left,
#searchFiltersUnfold .fa-angle-double-right,
#searchBasketUnfold .fa-angle-double-left,
#searchBasketFold .fa-angle-double-right
{
  position: absolute;
  top: 45%;
  bottom: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.filters-visible #searchFiltersFold
{
  left: 265px;
  display: block;
}

.filters-visible #searchFiltersUnfold
{
  display: none;
}


#resultsDiv
{
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  right: 0;
}

.filters-visible #resultsDiv
{
  left: 285px;
}


#resultsWrapper
{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 20px;
}

#resultsWrapperHeader
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 40px;

  text-align: center;
}

a.pager
{
  text-decoration: none;
}

/* FIXME: obsolete */
#searchBasketFold
{
  display: none;
}

#searchBasketUnfold
{
  display: block;
  right: 0;
}

.basket-visible #searchBasketFold
{
  display: block;
/*  left: 50%;*/
  right: 0;
  z-index: 1;
}

.basket-visible #searchBasketUnfold
{
  display: none;
}

#loadedFiltersWrapper
{
  position: absolute;
  top: 35px;
  bottom: 35px;
  height: auto;
  width: 100%;

  overflow-y: auto;
}

#loadedFilters
{
  overflow: hidden; /*WTF?*/
}


#newFilter
{
  overflow: hidden;
  position: relative;
}

#newFilter .brainslices-property-filter
{
  margin-right: 25px;
}

#searchPropertySearch
{
  position: absolute;
  top: auto;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 25px;
  box-sizing: border-box;
}

.filter-property-name
{
  position: relative;
  font-style: italic;
  overflow: hidden;
  padding: 5px;
}

summary.filter-property-name
{
  outline: none;
  padding: 0;
  color: #5080FF;
}

summary.filter-property-name::-webkit-details-marker
{
  display: none;
}

.filter-property-name>.fa-angle-double-up,
.filter-property-name>.fa-angle-double-down
{
  color: #7F7F7F;
}

.filter-property-name>.fa-tag
{
  color: #808080;
}

.filter-property-name>.fa-angle-double-up,
.filter-property-name>.fa-angle-double-down,
.filter-property-name>.fa-tag
{
  width: 15px;
  margin-right: 5px;
}


summary.filter-property-name>.fa-angle-double-up
{
  display: none;
}

summary.filter-property-name>.fa-angle-double-down
{
  display: inline-block;
}


details[open]>summary.filter-property-name
{
  color: #7F7F7F;
}

details[open]>summary.filter-property-name>.fa-angle-double-up
{
  display: inline-block;
}

details[open]>summary.filter-property-name>.fa-angle-double-down
{
  display: none;
}


details.filter-property-info
{
  position: relative;
  padding: 5px;
}

details.filter-property-info .brainslices-property-filter
{
  margin-top: 5px;
}

.filter-property-info
{
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 2px;
}


.new-property-name-input
{
  width: 120px;
}

.numeric-property-input
{
  width: 40px;
}

.text-property-input
{
  width: 210px;
}

.add-filter-button,
.filter-delete-button
{
  color: #aaaaaa;
  display: inline-block;
  text-decoration: none;
}


.add-filter-button
{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 25px;
}

.add-filter-button:hover
{
  color: #6ee000;
}

.filter-delete-button
{
  font-size: 20px;
  float: right;
}

.filter-delete-button:hover
{
  color: #ff0000;
}


.brainslices-new-property-filter
{
  position: relative;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
  height: 60px;

  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
}

div.brainslices-new-property-filter-propertybox
{
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
}

input.brainslices-new-property-filter-propertybox,
div.propertyboxsearch-toggle,
select.brainslices-new-property-filter-type
{
  box-sizing: border-box;
  box-shadow: none;
  font-size: 13px;
  line-height: 16px;
  height: 30px;

  border: 1px solid #E5E5E5;
}

input.brainslices-new-property-filter-propertybox
{
  width: 100%;
  margin: 0;
  padding 2px;
  border-bottom: none;
  border-top-left-radius: 4px;
  background: transparent;
}

div.propertyboxsearch-toggle
{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;

  border-top-right-radius: 4px;
  text-align: center;

  background: transparent url("/static/gfx/unfold.png") no-repeat center center;
  border-left: none;
  /*border-right: none;*/
  border-bottom: none;
}

select.brainslices-new-property-filter-type
{
  position: absolute;
  padding: 2px 20px 2px 2px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 0;

  width: 100%;
  left: 0;
  bottom: 0;
}

.brainslices-property-filter
{
  overflow: hidden;
}


.brainslices-number-property-filter,
div.brainslices-text-property-filter,
div.brainslices-enum-property-filter
{
  position: relative;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;

  background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
  background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
}


/*numeric filter*/
.brainslices-number-property-filter
{
  height: 60px;
}

input.brainslices-number-property-filter-input,
select.brainslices-number-property-filter-select,
input.brainslices-text-property-filter
{
  box-sizing: border-box;
  box-shadow: none;
  font-size: 13px;
  line-height: 16px;
  height: 30px;

  border: 1px solid #E5E5E5;
}

div.brainslices-number-property-filter-select,
div.brainslices-number-property-filter-input
{
  position: absolute;
  top: 0;
  bottom: 0;
}

div.brainslices-number-property-filter-select
{
  left: 0;
  width: 158px; 
}

div.brainslices-number-property-filter-input
{
  left: 158px;
  right: 0;
}

select.brainslices-number-property-filter-select,
input.brainslices-number-property-filter-input
{
  /*position: absolute;
  bottom: 0;*/

  box-sizing: border-box;
  width: 100%;
}

select.brainslices-number-property-filter-select
{
  border-bottom-left-radius: 4px;
}

select.brainslices-number-property-filter-select:first-of-type
{
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
}

input.brainslices-number-property-filter-input
{
  border-bottom-right-radius: 4px;
  border-left: none;
}

input.brainslices-number-property-filter-input:first-of-type
{
  border-bottom-right-radius: 0;
  border-top-right-radius: 4px;
}

select.brainslices-number-property-filter-select:first-of-type,
input.brainslices-number-property-filter-input:first-of-type
{
  /*
  bottom: auto;
  top: 0;
  */
  border-bottom: none;
}


input.brainslices-number-property-filter-input,
input.brainslices-text-property-filter
{
  background: transparent;
  margin: 0;
}


div.brainslices-enum-property-filter
{
  border-radius: 4px;
  overflow-x: auto;
  width: auto;
}

label.brainslices-enum-property-filter
{
  white-space: nowrap;
}



/*text filter*/
input.brainslices-text-property-filter
{
  width: 100%;
  padding-left: 25px;
  border-radius: 4px;
}


span.fa-search.brainslices-text-property-filter
{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 30px;
  padding: 8px 5px;
  font-size: 14px;
  /*color: #7F7F7F;*/
  box-sizing: content-box;
}

div.brainslices-privilege-filter
{
  /*float: right;*/
  border-radius: 4px;

  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
}

select.brainslices-privilege-filter
{
  width: 100%;
  /*height: 30px;*/
  border-radius: 4px;
  margin: 0;
}

.search-header-label
{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 30px;

  background: #efefef;
  /*color: #69c6fd;*/

  font-weight: bold;
  font-size: 16px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
/*  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;*/
  margin: 0px;

  text-align: center;
  box-sizing: border-box;
}

#searchResults 
{
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;

  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;
}

.search-row
{
  border: solid 1px #e5e5e5;
  padding: 0; /*50px 0 0;*/
}


div.image-details
{
  position: relative;
  overflow: hidden;
  padding-bottom: 25px;
}

div.image-details.folded
{
  height: 83px;
  padding-bottom: 0;
}

div.folder-wrapper
{
  position: static;
  overflow: hidden;

  padding: 0;
  border: 0;
  margin: 0;
}

div.folder-button
{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 20px;
  width: 70px;

  border-top: solid 1px #e5e5e5;
  border-left: solid 1px #e5e5e5;
  border-top-left-radius: 4px;
  text-align: center;
  padding: 2px;

  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
}

div.folder-button:before
{
  content: "fold";
}

div.folder-button.folded:before
{
  content: "unfold";
}


#addResultsToCart:hover,
#addResultsToCart.selected
{
  /*background-color: #66BB66;*/
  background-color: #309F30;
  border-color: #60B060;
  color: #FFFFFF;
}

#moveResultsToCart:hover,
#moveResultsToCart.selected
{
  /*background-color: #BB4242;*/
  background-color: #FF0000;
  border-color: #FF6060;
  color: #FFFFFF;
}




h1.image-details
{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

p.image-description.image-details
{
  text-align: left;
  margin: 0 0 5px 0;
}

ul.image-details
{
  margin: 0px;
  padding: 0px;
}

li.image-details
{
  list-style-type: none;
  text-align: left;
}

.polaroid-image.image-details
{
  float: left;
  margin: 3px 10px 5px 3px;
}



/*
.thumbnail-only .image-details.unfolded>div.folding-button,
.thumbnail-only .image-details.folded>div.unfolding-button,
.thumbnail-only .image-details>h1,
.thumbnail-only .image-details>p.image-description,
.thumbnail-only .image-details>ul
{
  display: none;
}

.thumbnail-only .image-details>.polaroid-image
{
  margin: 3px 5px;
}
*/

/*
#searchImageBasket .search-header-label
{
  left: 25px;
}

#searchImageBasketList
{
  position: absolute;
  top: 40px;
  bottom: 5px;
  height: auto;
  left: 25px;
  right: 5px;
  width: auto;
}
*/
